<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Shoppy an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/scrollbar.css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/upload.css" >
    <script src="/js/core.js"></script>
    <script src="/js/upload.js"></script>

</head>
<body>
<div>
    <div class="form-group">
        <label for="name">Artist Name</label></label>
        <input type="text" class="form-control" id="name" name="name" placeholder="artist name">
        
        <label for="address">Addrress</label>
        <input type="text" class="form-control" id="addr" name="addr" placeholder="artist addr">
        
        <label for="hashtag">hashtag</label>
        <input type="text" class="form-control" id="hashtag" name="hashtag" placeholder="hashtag">
        
        <label for="facebook">facebook</label>
        <input type="text" class="form-control" id="facebook" name="facebook" placeholder="facebook">
        
        <label for="instagram">instagram</label>
        <input type="text" class="form-control" id="instagram" name="instagram" placeholder="instagram">

        <label for="thumb">썸네일 이미지</label>
        <div id="thumb" class="upload"></div>
        <div class="filelists">
            <h5>Complete</h5>
            <ol class="filelist complete">
            </ol>
            <h5>Queued</h5>
            <ol class="filelist queue">
            </ol>
            <span class="cancel_all">Cancel All</span>
        </div>
    </div>
    <button id="submit"> 아티스트 등록 </button>
</div>

<script>
     $("#submit").click(function() {
        $("#thumb").upload("start");
    });
        $("#thumb").upload({
        action: "/admin/artist_add",
        beforeSend: onBeforeSend,
        autoUpload: false,
        dataType: 'multipart/form-data',
        postKey: 'thumb',
        maxSize: 5242880*2,

    }).on("start.upload", onStart)
            .on("complete.upload", onComplete)
            .on("filestart.upload", onFileStart)
            .on("fileprogress.upload", onFileProgress)
            .on("filecomplete.upload", onFileComplete)
            .on("fileerror.upload", onFileError)
            .on("chunkstart.upload", onChunkStart)
            .on("chunkprogress.upload", onChunkProgress)
            .on("chunkcomplete.upload", onChunkComplete)
            .on("chunkerror.upload", onChunkError)
            .on("queued.upload", onQueued);

    $(".filelist.queue").on("click", ".cancel", onCancel);
    $(".cancel_all").on("click", onCancelAll);

    function onBeforeSend(formData, file) {
        if (file.name.indexOf(".jpg") > 0 || file.name.indexOf(".jpeg") > 0 || file.name.indexOf(".gif")> 0  || file.name.indexOf(".png")> 0 ) {
            formData.append('name', $('#name').val());
            formData.append('address', $("#address").val());
            formData.append('hashtag', JSON.stringify($('#hashtag').val().split(",")));
            formData.append('facebook',  $('#facebook').val());
            formData.append('instagram', $('#instagram').val());
            console.log(formData);
            return formData;
        }else{
            alert("이미지 파일이 아닙니다.(jpg, jpeg, png, gif 형식만 지원합니다.)");
            return false;
        }
    }
    function onComplete(){
        alert("커스터마이즈드 상품이 등록되었습니다.");
    }
    function onCancel(e) {
        console.log("Cancel");
        var index = $(this).parents("li").data("index");
        $(this).parents("form").find(".upload").upload("abort", parseInt(index, 10));
    }

    function onCancelAll(e) {
        console.log("Cancel All");
        $(this).parents("form").find(".upload").upload("abort");
    }

    function onQueued(e, files) {
        console.log("Queued");
        var html = '';
        for (var i = 0; i < files.length; i++) {
            html += '<li data-index="' + files[i].index + '"><span class="content"><span class="file">' + files[i].name + '</span><span class="cancel">Cancel</span><span class="progress">Queued</span></span><span class="bar"></span></li>';
        }

        $(this).parents("form").find(".filelist.queue")
            .append(html);
    }

    function onStart(e, files) {
        console.log("Start");
        $(this).parents("form").find(".filelist.queue")
            .find("li")
            .find(".progress").text("Waiting");
    }


    function onFileStart(e, file) {
        console.log("File Start");
        $(this).parents("form").find(".filelist.queue")
            .find("li[data-index=" + file.index + "]")
            .find(".progress").text("0%");
    }

    function onFileProgress(e, file, percent) {
        console.log("File Progress");
        var $file = $(this).parents("form").find(".filelist.queue").find("li[data-index=" + file.index + "]");

        $file.find(".progress").text(percent + "%")
        $file.find(".bar").css("width", percent + "%");
    }

    function onFileComplete(e, file, response) {
        console.log("File Complete");
        if (response.trim() === "" || response.toLowerCase().indexOf("error") > -1) {
            $(this).parents("form").find(".filelist.queue")
                .find("li[data-index=" + file.index + "]").addClass("error")
                .find(".progress").text(response.trim());
        }
        else {
            var $target = $(this).parents("form").find(".filelist.queue").find("li[data-index=" + file.index + "]");
            $target.find(".file").text(file.name);
            $target.find(".progress").remove();
            $target.find(".cancel").remove();
            $target.appendTo($(this).parents("form").find(".filelist.complete"));
        }
    }

    function onFileError(e, file, error) {
        console.log("File Error");
        $(this).parents("form").find(".filelist.queue")
            .find("li[data-index=" + file.index + "]").addClass("error")
            .find(".progress").text("Error: " + error);
    }

    function onChunkStart(e, file) {
        console.log("Chunk Start");
    }

    function onChunkProgress(e, file, percent) {
        console.log("Chunk Progress");
    }

    function onChunkComplete(e, file, response) {
        console.log("Chunk Complete");
    }

    function onChunkError(e, file, error) {
        console.log("Chunk Error");
    };

</script>

</body>
</html>