<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Shoppy an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/scrollbar.css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
</head>
<body>
<div class="page-container">
    <!--slider menu-->
    <div class="sidebar-menu">
        <div class="logo"><a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span
                        id="logo"></span>
                <!--<img id="logo" src="" alt="Logo"/>-->
            </a></div>
        <div class="menu">
            <ul id="menu">
                <li id="menu-home"><a href="index.ejs"><i class="fa fa-tachometer"></i><span>대쉬보드</span></a></li>
                <li>
                    <a href="/admin/artist_add">
                        <i class="fa fa-cogs"></i>
                        <span>아티스트 등록</span>
                        <span class="fa fa-angle-right" style="float: right"></span>
                    </a>
                </li>
                <li id="menu-comunicacao">
                    <a href="/admin/terms">
                        <i class="fa fa-book nav_icon"></i>
                        <span>약관 변경</span>
                    </a>
                </li>
                <li><a href="/admin/users">
                        <i class="fa fa-map-marker"></i>
                        <span>유저 확인</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/statistics">
                        <i class="fa fa-bar-chart"></i>
                        <span>통계</span>
                    </a>

                    <span class="fa fa-angle-right" style="float: right"></span>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-avaliacoes"><a href="/admin/statistics/user">유저</a></li>
                            <li id="menu-academico-boletim"><a href="/admin/statistics/order">주문</a></li>
                        </ul>
                </li>
                <li>
                    <a href="/admin/messages">
                        <i class="fa fa-envelope"></i>
                        <span>메세지</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--slide bar menu end here-->
<script>
    var toggle = true;

    $(".sidebar-icon").click(function () {
        if (toggle) {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({"position": "absolute"});
        }
        else {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function () {
                $("#menu span").css({"position": "relative"});
            }, 400);
        }
        toggle = !toggle;
    });
</script>
<!--scrolling js-->
<script src="/js/jquery.nicescroll.js"></script>
<script src="/js/scripts.js"></script>
<!--//scrolling js-->
<script src="/js/bootstrap.js"></script>
<!-- mother grid end here-->
</body>
</html>                     