<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Shoppy an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/scrollbar.css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/upload.css" >
    <script src="/js/core.js"></script>
    <script src="/js/upload.js"></script>

</head>
<body>

<div class="inner-block">
    <div class="form-group">
        <label for="name">상품명</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="상품명">
    </div>
    <div class="form-group">
        <form class="form-control">    
            <label class="radio-inline">    <input type="radio" name="gender" id="gender-female" value="female"> 여성복    </label>
            <label class="radio-inline">    <input type="radio" name="gender" id="gender-male" value="male"> 남성복    </label>
            <label class="radio-inline">    <input type="radio" name="gender" id="gender-uni" value="uni"> 남녀공용  </label>    
        </form>
        <form class="form-control">    
            <label class="checkbox-inline">    <input type="checkbox" name="age" id="age-five" value="0"> 5세 미만</label>
            <label class="checkbox-inline"> <input type="checkbox" name="age" id="age-ten-1" value="11"> 10세 전후</label>
            <label class="checkbox-inline">    <input type="checkbox" name="age" id="age-ten-2" value="12"> 15세 전후</label>
            <label class="checkbox-inline">    <input type="checkbox" name="age" id="age-ten-3" value="13"> 10대 후반</label>
            <label class="checkbox-inline">    <input type="checkbox" name="age" id="age-twenty-1" value="21"> 20대 초반</label>
            <label class="checkbox-inline">    <input type="checkbox" name="age" id="age-twenty-2" value="22"> 20대 중반</label>
            <label class="checkbox-inline">    <input type="checkbox" name="age" id="age-twenty-3" value="23"> 20대 후반</label>
            <label class="checkbox-inline">    <input type="checkbox" name="age" id="age-twenty" value="20"> 20대</label>
            <label class="checkbox-inline">    <input type="checkbox" name="age" id="age-thirty-1" value="31"> 30대 초반</label>
            <label class="checkbox-inline">    <input type="checkbox" name="age" id="age-thirty" value="30"> 30대</label>
            <label class="checkbox-inline">    <input type="checkbox" name="age" id="age-fourty" value="40"> 40대</label>
            <label class="checkbox-inline">    <input type="checkbox" name="age" id="age-fifty" value="50"> 50대 이상</label>
        </form>
            
    </div>
    
    <div class="form-group" id="productType">
            <span class="option-title">카테고리</span>핏</span>    
            <form id="fit" class="form-control">    
                <label class="radio-inline">    <input type="radio" name="category" id="product-onepiece" value="slim"> 원피스    </label>
                <label class="radio-inline">    <input type="radio" name="category" id="product-top" value="basic"> 상의    </label>
                <label class="radio-inline">    <input type="radio" name="category" id="product-bottom" value="oversize"> 하의    </label>    
            </form> 
    </div>


    <div class="form-group">
        <label for="price">price</label>
        <input type="text" class="form-control" id="price" name="price" placeholder="price">
    </div>
    <div class="form-group">
        <label for="makingTime">makingTime</label>
        <input type="text" class="form-control" id="makingTime" name="makingTime" placeholder="makingTime">
    </div>
    <div class="form-group">
        <form class="form-control">
            <label for="color">color</label>

            <label class="checkbox-inline"> <input type="checkbox" name="color" id="color-pink" value="pink"> 핑크    </label>    
            <label class="checkbox-inline">    <input type="checkbox" name="color" id="color-red" value="red"> 레드    </label>
            <label class="checkbox-inline">    <input type="checkbox" name="color" id="color-brown" value="brown"> 브라운    </label>
            <label class="checkbox-inline">    <input type="checkbox" name="color" id="color-gray" value="grey"> 그레이    </label>
            <label class="checkbox-inline">    <input type="checkbox" name="color" id="color-blue" value="blue"> 블루    </label>
            <label class="checkbox-inline">    <input type="checkbox" name="color" id="color-white" value="white"> 화이트    </label>
        </form>
    </div>
    <div class="form-group">
        <form class="form-control">
            <label for="color">시즌</label>

            <label class="checkbox-inline"> <input type="checkbox" name="season" id="season-spring" value="spring"> 봄    </label>    
            <label class="checkbox-inline">    <input type="checkbox" name="season" id="season-summer" value="summer"> 여름    </label>
            <label class="checkbox-inline">    <input type="checkbox" name="season" id="season-fall" value="fall"> 가을    </label>
            <label class="checkbox-inline">    <input type="checkbox" name="season" id="season-winter" value="winter"> 겨울    </label>
        </form>
    </div>
    <div class="form-group">
            <span class="option-title">* 핏</span>    
            <form id="fit" class="form-control">    
                <label class="radio-inline">    <input type="radio" name="fit" id="fit-slim" value="slim"> 슬림    </label>
                <label class="radio-inline">    <input type="radio" name="fit" id="fit-basic" value="basic"> 베이직    </label>
                <label class="radio-inline">    <input type="radio" name="fit" id="fit-oversize" value="oversize"> 오버사이즈    </label>    
            </form> 
    </div>

    <div class="form-group">
        <label for="size">size</label>
        <input type="text" class="form-control" id="size" name="size" placeholder="size">
    </div>
    <div class="form-group">
        <label for="keyword">keyword</label>
        <input type="text" class="form-control" id="keyword" name="keyword" placeholder="keyword">
    </div>
    <div class="form-group">
        <label for="thumb">썸네일 이미지</label>
        <div id="thumb" class="upload"></div>
        <div class="filelists">
            <h5>Complete</h5>
            <ol class="filelist complete">
            </ol>
            <h5>Queued</h5>
            <ol class="filelist queue">
            </ol>
            <span class="cancel_all">Cancel All</span>
        </div>
    </div>
    <!--
    <div class="form-group">
        <label for="sample">완성 샘플 이미지</label>
        <input type="file" id="sample" name="sample" accept="image/*">
    </div>
    -->
    <button id="submit" class="btn btn-default" >Submit</button>

</div>
<script>
   

        $("input:radio[id='product-onepiece']").click(function(){
            $( ".Option" ).remove();
            var chk = $(this).is(":checked");
            if(chk){
                var Option =
                    '<li class="Option">' +
                    '<span class="option-title">* 네크라인</span>'+
                    '<form class="form-control">'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="neck" id="neck-v" >'+
                    '브이넥'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="neck" id="neck-turtle" >'+
                    '터틀넥'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="neck" id="neck-round" >'+
                    '라운드'+
                    '</label>'+
                    '</form>'+
                    '</li>'+
                    '<li class="Option">' +
                    '<span class="option-title">* 바디쉐이프</span>'+
                    '<form class="form-control">'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="onepiece-body" id="body-t-dress" >'+
                    '티 드레스'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="onepiece-body" id="body-lab-dress" >'+
                    '랩 드레스'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="onepiece-body" id="body-shirts-dress" >'+
                    '셔츠 드레스'+
                    '</label>'+
                    '</form>'+

                    '</li>'+
                    '<li class="Option">' +
                    '<span class="option-title">* 길이</span>'+
                    '<form class="form-control">'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="onepiece-length" id="onepiece-length-long" >'+
                    '롱'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="onepiece-length" id="onepiece-length-medium" >'+
                    '미디움'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="onepiece-length" id="onpiece-length-short" >'+
                    '쇼트'+
                    '</label>'+
                    '</form>'+
                    '</li>';
                $(Option).insertAfter("#productType");
                $('#searchbar-wrapper').css('border-left', '1px solid color-black');
                $('#searchbar-wrapper').css('border-bottom', '1px solid color-black');


            }
        })

        $("input:radio[id='product-top']").click(function(){
            $( ".Option" ).remove();

            var chk = $(this).is(":checked");
            if(chk){
                var Option =
                    '<li class="Option">' +
                    '<span class="option-title">* 네크라인</span>'+
                    '<form class="form-control">'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="neck" id="top-neck-v" >'+
                    '브이넥'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="neck" id="top-neck-turtle" >'+
                    '터틀넥'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="neck" id="top-neck-round" >'+
                    '라운드'+
                    '</label>'+
                    '</form>'+
                    '</li>'+
                    '<li class="Option">' +
                    '<span class="option-title">* 바디</span>'+
                    '<form class="form-control">'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="top-body" id="t-shirts" >'+
                    '티셔츠'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="top-body" id="shirts" >'+
                    '셔츠'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="top-body" id="etc" >'+
                    '기타'+
                    '</label>'+
                    '</form>'+

                    '</li>'+
                    '<li class="Option">' +
                    '<span class="option-title">슬리브 스타일</span>'+
                    '<form class="form-control">'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="sleeve" id="sleeve-long" >'+
                    '롱'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="sleeve" id="sleeve-medium" >'+
                    '미디움'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="sleeve" id="sleeve-short" >'+
                    '숏'+
                    '</label>'+
                    '</form>'+
                    '</li>';
                $(Option).insertAfter("#productType");
                $('#searchbar-wrapper').css('border-left', '1px solid color-black');
                $('#searchbar-wrapper').css('border-bottom', '1px solid color-black');


            }else{
                $( ".Option" ).remove(function(){

                });
                $('#searchbar-wrapper').css('border-left', '1px solid color-black');
                $('#searchbar-wrapper').css('border-bottom', '1px solid color-black');

            }
        })

        $("input:radio[id='product-bottom']").click(function(){
            $( ".Option" ).remove();

            var chk = $(this).is(":checked");
            if(chk){
                var Option =
                    '<li class="Option">' +
                    '<span class="option-title">* 종류</span>'+
                    '<form class="form-control">'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="bottom-type" id="type-skirt" >'+
                    '치마'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="bottom-type" id="type-pants" >'+
                    '바지'+
                    '</label>'+
                    '</form>'+

                    '</li>'+
                    '<li class="Option">' +
                    '<span class="option-title">* 길이</span>'+
                    '<form class="form-control">'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="bottom-length" id="bottom-length-long" >'+
                    '롱'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="bottom-length" id="bottom-length-medium" >'+
                    '미디움'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="bottom-length" id="bottom-length-short" >'+
                    '쇼트'+
                    '</label>'+
                    '</form>'+
                    '</li>';
                $(Option).insertAfter("#productType", function(){

                });
                $('#searchbar-wrapper').css('border-left', '1px solid color-black');
                $('#searchbar-wrapper').css('border-bottom', '1px solid color-black');


            }else{
                $( ".Option" ).remove(function(){

                });
                $('#searchbar-wrapper').css('border-left', '1px solid color-black');
                $('#searchbar-wrapper').css('border-bottom', '1px solid color-black');

            }
        })
    
    $("#submit").click(function() {
        $(".upload").upload("start");
    });
        $(".upload").upload({
        action: "/admin/product_add",
        beforeSend: onBeforeSend,
        autoUpload: false,
        dataType: 'multipart/form-data',
        postKey: 'thumb',
        maxSize: 5242880*2,

    }).on("start.upload", onStart)
            .on("complete.upload", onComplete)
            .on("filestart.upload", onFileStart)
            .on("fileprogress.upload", onFileProgress)
            .on("filecomplete.upload", onFileComplete)
            .on("fileerror.upload", onFileError)
            .on("chunkstart.upload", onChunkStart)
            .on("chunkprogress.upload", onChunkProgress)
            .on("chunkcomplete.upload", onChunkComplete)
            .on("chunkerror.upload", onChunkError)
            .on("queued.upload", onQueued);

    $(".filelist.queue").on("click", ".cancel", onCancel);
    $(".cancel_all").on("click", onCancelAll);
function onBeforeSend(formData, file) {
        if (file.name.indexOf(".jpg") > 0 || file.name.indexOf(".jpeg") > 0 || file.name.indexOf(".gif")> 0  || file.name.indexOf(".png")> 0 ) {
            formData.append('name', $('#name').val());
            formData.append('category', $(':radio[name="category"]:checked').attr('id'));
            formData.append('sleeve', $("#sleeve option:selected").val());
            formData.append('neck', $("#neck option:selected").attr('id'));
            formData.append('fit', $(':radio[name="onepice-body"]:checked').attr('id'));
            formData.append('length', $(':radio[name="onepice-length"]:checked').attr('id'));
            formData.append('fit', $(':radio[name="top-body"]:checked').attr('id'));
            formData.append('fit', $(':radio[name="bottom-type"]:checked').attr('id'));
            formData.append('length', $(':radio[name="bottom-length"]:checked').attr('id'));

            formData.append('price', $('#price').val());
            formData.append('size', JSON.stringify($('#size').val().split(",")));
            formData.append('keyword', JSON.stringify($('#keyword').val().split(",")));
            formData.append('fit', $(':radio[name="fit"]:checked').val() );
            formData.append('gender', $(':radio[name="gender"]:checked').val() );
            formData.append('age', JSON.stringify($(':checkbox[name="age"]:checked').map(function () { return parseInt($(this).val()) }).get()));
            formData.append('color', JSON.stringify($(':checkbox[name="color"]:checked').map(function () { return $(this).val(); }).get()));
            formData.append('season', JSON.stringify($(':checkbox[name="season"]:checked').map(function () { return $(this).val(); }).get()));
            formData.append('id', qs["id"]);

            console.log(formData);
            return formData;
        }else{
            alert("이미지 파일이 아닙니다.(jpg, jpeg, png, gif 형식만 지원합니다.)");
            return false;
        }
    }
    function onComplete(){
        alert("아티스트 상품이 등록되었습니다.");
    }
    function onCancel(e) {
        console.log("Cancel");
        var index = $(this).parents("li").data("index");
        $(this).parents("form").find(".upload").upload("abort", parseInt(index, 10));
    }

    function onCancelAll(e) {
        console.log("Cancel All");
        $(this).parents("form").find(".upload").upload("abort");
    }

    function onQueued(e, files) {
        console.log("Queued");
        var html = '';
        for (var i = 0; i < files.length; i++) {
            html += '<li data-index="' + files[i].index + '"><span class="content"><span class="file">' + files[i].name + '</span><span class="cancel">Cancel</span><span class="progress">Queued</span></span><span class="bar"></span></li>';
        }

        $(this).parents("form").find(".filelist.queue")
            .append(html);
    }

    function onStart(e, files) {
        console.log("Start");
        $(this).parents("form").find(".filelist.queue")
            .find("li")
            .find(".progress").text("Waiting");
    }


    function onFileStart(e, file) {
        console.log("File Start");
        $(this).parents("form").find(".filelist.queue")
            .find("li[data-index=" + file.index + "]")
            .find(".progress").text("0%");
    }

    function onFileProgress(e, file, percent) {
        console.log("File Progress");
        var $file = $(this).parents("form").find(".filelist.queue").find("li[data-index=" + file.index + "]");

        $file.find(".progress").text(percent + "%")
        $file.find(".bar").css("width", percent + "%");
    }

    function onFileComplete(e, file, response) {
        console.log("File Complete");
        if (response.trim() === "" || response.toLowerCase().indexOf("error") > -1) {
            $(this).parents("form").find(".filelist.queue")
                .find("li[data-index=" + file.index + "]").addClass("error")
                .find(".progress").text(response.trim());
        }
        else {
            var $target = $(this).parents("form").find(".filelist.queue").find("li[data-index=" + file.index + "]");
            $target.find(".file").text(file.name);
            $target.find(".progress").remove();
            $target.find(".cancel").remove();
            $target.appendTo($(this).parents("form").find(".filelist.complete"));
        }
    }

    function onFileError(e, file, error) {
        console.log("File Error");
        $(this).parents("form").find(".filelist.queue")
            .find("li[data-index=" + file.index + "]").addClass("error")
            .find(".progress").text("Error: " + error);
    }

    function onChunkStart(e, file) {
        console.log("Chunk Start");
    }

    function onChunkProgress(e, file, percent) {
        console.log("Chunk Progress");
    }

    function onChunkComplete(e, file, response) {
        console.log("Chunk Complete");
    }

    function onChunkError(e, file, error) {
        console.log("Chunk Error");
    };
    

var qs = (function(a) {
    if (a == "") return {};
    var b = {};
    for (var i = 0; i < a.length; ++i)
    {
        var p=a[i].split('=', 2);
        if (p.length == 1)
            b[p[0]] = "";
        else
            b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
    }
    return b;
})(window.location.search.substr(1).split('&'));

</script>
</body>
</html>
