<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Shoppy an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        } </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- Custom Theme files -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--js-->
    <script src="/js/jquery-2.1.1.min.js"></script>
    <!--icons-css-->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
    <!--static chart-->
    <script src="/js/Chart.min.js"></script>
    <!--//charts-->
    <!-- geo chart -->
    <script src="//cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <!--<script src="/lib/html5shiv/html5shiv.js"></script>-->
    <!-- Chartinator  -->
    <script src="/js/chartinator.js"></script>

    <!--skycons-icons-->
    <script src="/js/skycons.js"></script>
    <!--//skycons-icons-->
</head>
<body>
<div class="page-container">
    <div class="left-content">
        <div class="mother-grid-inner">
            <!--header start here-->
            <div class="header-main">
                <div class="header-left">
                    <div class="logo-name">
                        <a href="/admin/index"><h1>JISCO</h1>
                            <!--<img id="logo" src="" alt="Logo"/>-->
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="header-right">
                    <div class="profile_details_left"><!--notifications of menu start -->
                        <ul class="nofitications-dropdown">
                            <li class="dropdown head-dpdn">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                                            class="fa fa-envelope"></i><span class="badge">3</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="notification_header">
                                            <h3><%= msg %>개의 새 주문이 있습니다.</h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="notification_bottom">
                                            <a href="/admin/messages">모든 메세지 보기</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown head-dpdn">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                                            class="fa fa-tasks"></i><span class="badge blue1">9</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="notification_header">
                                            <h3> <%= order %>개의 새 주문이 있습니다.</h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="notification_bottom">
                                            <a href="/admin/order">모든 주문 목록 보기</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!--notification menu end -->
                    <div class="profile_details">
                        <ul>
                            <li class="dropdown profile_details_drop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <div class="profile_img">
                                        <div class="user-name">
                                            <p>
                                                <%= admin.name %>
                                            </p>
                                            <span>
                                                <%= admin.position %>
                                            </span>
                                        </div>
                                        <i class="fa fa-angle-down lnr"></i>
                                        <i class="fa fa-angle-up lnr"></i>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu drp-mnu">
                                    <li><a href="/admin/logout"><i class="fa fa-sign-out"></i> 로그아웃</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!--heder end here-->

            <!-- script-for sticky-nav -->
            <script>
                $(document).ready(function () {
                    var navoffeset = $(".header-main").offset().top;
                    $(window).scroll(function () {
                        var scrollpos = $(window).scrollTop();
                        if (scrollpos >= navoffeset) {
                            $(".header-main").addClass("fixed");
                        } else {
                            $(".header-main").removeClass("fixed");
                        }
                    });

                });
            </script>
            <!-- /script-for sticky-nav -->
            <!--inner block start here-->
            <div class="inner-block">
                <div class="main-page-charts">
                    <form action="/admin/terms" name="terms" method="post" class="span-2c">

                    <div class="main-page-chart-layer1">
                        <div class="col-md-6 chart-layer1-left">
                            <div class="terms-blocks form-group">
                                    <label class="tlt" for="terms">이용약관</label>
                                    <textarea id="terms" type="text" name="terms" class="form-control" value="<%= terms %>" rows="10"><%= terms %></textarea>
                            </div>
                        </div>
                        <div class="col-md-6 chart-layer1-right">
                            <div class="terms-blocks form-group">
                                    <label class="tlt" for="privacy_required">개인정보수집이용동의(필수)</label>
                                    <textarea id="privacy_required" name="privacy_required" class="form-control" type="text" value="<%= privacy_required %>" rows="10"><%= privacy_required %></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="main-page-chart-layer2">
                        <div class="col-md-6 chart-layer2-left">
                            <div class="terms-blocks form-group">
                                    <label class="tlt" for="privacy_choosable">개인정보수집이용동의(선택)</label>
                                    <textarea id="privacy_choosable" name="privacy_choosable"  class="form-control"type="text" value="<%= privacy_choosable %>" rows="10"><%= privacy_choosable %></textarea>
                            </div>
                        </div>
                        <div class="col-md-6 chart-layer1-right">
                            <div class="terms-blocks form-group">
                                    <label class="tlt" for="advertise">광고성 정보 수신 동의</label>
                                    <textarea id="advertise" type="text" name="advertise" class="form-control" value="<%= advertise %>" rows="10"><%= advertise %></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                        <button type="submit" class="btn btn-default col-md-12 m-t-10">등록하기</button>

                    </form>

                </div>
            </div>
            <!--inner block end here-->
            <!--copy rights start here-->
            <div class="copyrights">
                <p>© 2016 JISCO. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                </p>
            </div>
            <!--COPY rights end here-->
        </div>
    </div>
    <!--slider menu-->
    <div class="sidebar-menu">
        <div class="logo"><a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span
                        id="logo"></span>
                <!--<img id="logo" src="" alt="Logo"/>-->
            </a></div>
        <div class="menu">
            <ul id="menu">
                <li id="menu-home"><a href="/admin/index"><i class="fa fa-tachometer"></i><span>대쉬보드</span></a></li>
                <li>
                    <a href="/admin/upload">
                        <i class="fa fa-cogs"></i>
                        <span>상품 업로드</span>
                        <span class="fa fa-angle-right" style="float: right"></span>
                    </a>
                    <ul>
                        <li><a href="/admin/upload/customizing">Customizing</a></li>
                        <li><a href="/admin/upload/customized">Customized</a></li>
                    </ul>
                </li>
                <li id="menu-comunicacao">
                    <a href="/admin/terms">
                        <i class="fa fa-book nav_icon"></i>
                        <span>약관 변경</span>
                    </a>
                </li>
                <li><a href="/admin/users">
                        <i class="fa fa-map-marker"></i>
                        <span>유저 확인</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/statistics">
                        <i class="fa fa-bar-chart"></i>
                        <span>통계</span>
                    </a>

                    <span class="fa fa-angle-right" style="float: right"></span>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-avaliacoes"><a href="/admin/statistics/user">유저</a></li>
                            <li id="menu-academico-boletim"><a href="/admin/statistics/order">주문</a></li>
                        </ul>
                </li>
                <li>
                    <a href="/admin/messages">
                        <i class="fa fa-envelope"></i>
                        <span>메세지</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--slide bar menu end here-->
<script>
    var toggle = true;

    $(".sidebar-icon").click(function () {
        if (toggle) {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({"position": "absolute"});
        }
        else {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function () {
                $("#menu span").css({"position": "relative"});
            }, 400);
        }
        toggle = !toggle;
    });
</script>
<!--scrolling js-->
<script src="/js/jquery.nicescroll.js"></script>
<script src="/js/scripts.js"></script>
<!--//scrolling js-->
<script src="/js/bootstrap.js"></script>
<!-- mother grid end here-->
</body>
</html>