<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/huebee.css">
    <link rel='stylesheet' href='/stylesheets/theme.css'/>
    <link rel='stylesheet' href='/stylesheets/header.css'/>
    <link rel='stylesheet' href='/stylesheets/footer.css'/>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel='stylesheet' href='/stylesheets/signin.css'/>
    <link rel='stylesheet' href='/stylesheets/about.css'/>

    <script type="text/javascript" src="../js/signin.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/huebee.pkgd.js"></script>

    <!-- view port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
    <div class="wrapper">
        <!-- Nav Sidebar -->
        <%- navSidebar %>
        <!-- End of Nav Sidebar -->

        <!-- Search Sidebar -->
        <%- searchSidebar %>
        <!-- End of Search Sidebar -->
    </div>
<header>
            <%- header %>

</header>
<main>
    <div class="container">
        <header>
            <h1>ABOUT</h1>
        </header>
        <main>
            <p>
                상호명: 지스코<br/>
                사업자구분: 개인사업자 일반과세자<br/>
                사업개시일: 2015.01.14<br/>
                사업자등록번호: 312-33-31699<br/>
                사업장소재지: 경기도 성남시 분당구 야탑로 149번길 9 지하1층<br/>
                책임자: 김형진 (JISCO)<br/>
                <br/>
                주요 컨셉: NORMCORE, MASSCUSTOM<br/>
                <br/>
                MASSCUSTOM이란, ‘대량 맞춤’이라는 의미로<br/>
                4차산업혁명과도 연결되는 새로운 미래형 산업트랜드 입니다.<br/>
                <br/>
                지스코에서는 의류를 구성하는 디자인, 제조, 마케팅에 대한 분리된 정보를<br/>
                IT기술로 통합하여 의류분야에서의 MASSCUSTOM을 실현하고 있습니다.<br/>
                <br/>
                최종 목표: THE ‘NEXT’ S.P.A<br/>
                메인 타겟: 패션리더群=오피니언 리더<br/>
                메인 아이템: 티셔츠, 슬렉스, 원피스<br/>
                서브 아이템: 자켓, 니트류<br/>
            </p>
            <p>
                활동 내역<br/>
                <br/>
                2013년 12월 25일 지스코 개인 도소매 창업<br/>
                <br/>
                2014년 창업진흥원 청년ceo500 프로젝트 선정, 수행완료<br/>
                2014년 신사동 가로수길 서울모드 팝업스토어 디자이너 브랜드 참가<br/>
                2014년 지스코 1차 상품 완판 (레이어드 티셔츠)<br/>
                2014년 도전수퍼모델코리아 지스코 의상 협찬<br/>
                2014년 지스코 2차 상품 주문 예약 실시 후 완판 (커스텀 티셔츠)<br/>
                <br/>
                2015년 지스코 업사이클링 마켓백 출시<br/>
                2015년 지스코 스마트 어패럴 사업 분야 전환<br/>
                2015년 고용노동부 주관 경기창조혁신센터 스마트2030 선정, 수행완료<br/>
                2015년 성남벤처진흥원 드라이빙멘토3기 선정, 수행완료<br/>
                2015년 중국 톈진 및 내몽고 지역 수출<br/>
                <br/>
                2016년 중국 톈진 TV, 디자인 트랜드 인터뷰 초청<br/>
                2016년 중국 심천패션 브랜드 페어 브랜드 레가르 마케팅 지원<br/>
                2016년 창업진흥원 주관 스마트벤쳐창업학교 4기 선정 진행 중<br/>
                2016년 일본 오사카 K-FASHION 뷰티 박람회 참가<br/>
                2016년 일본 오사카 카나가와 TV홈쇼핑 니트원피스 수출 판매<br/>
                2016년 한국패션협회 및 KOTRA 오사카 무역관 주관 라쿠텐 판매 실시<br/>
                2016년 COEX 벤쳐창업박람회 스마트벤쳐창업학교관 소속 참가<br/>
                2016년 판교현대백화점 THE NEXT START UP 팝업스토어 참가<br/>
                <br/>
                2017년 (주)티태그 크라우드 소싱 의류 디자인 프로젝트 수주 개발 진행 중<br/>
            </p>
        </main>
        <footer>
            <img id="logo-footer" src="../img/logo2.png">
        </footer>
    </div>
</main>
<footer id="main-footer" class="bg-gray-90">
    <%- footer %>
</footer>

<!-- The Modal -->
<div id="signModal" class="modal">

      <!-- Modal content -->
    <div class="modal-content">
         
        <div class="modal-header">
                <img src="../img/login_close.png" class="close">
                <h2>Sign In</h2>
        </div>
         
        <div class="modal-fit">
            <div id="btn-container">
                <button id="custom-naver-btn" onclick="location.href='/auth/naver'">NAVER</button>
                <button id="custom-kakao-btn" onclick="location.href='/auth/kakaotalk'">KAKAOTALK</button>
                <button id="custom-google-btn" onclick="location.href='/auth/google'">GOOGLE</button>
                <button id="custom-fb-btn" onclick="location.href='/auth/facebook'">FACEBOOK</button>
                <button id="custom-insta-btn" onclick="location.href='/auth/instagram'">INSTAGRAM</button>
            </div>
        </div>
         
        <div class="modal-footer">
        </div>
    </div>
</div>
<script>
    //////////////////////////////// Sign In Modal Popup ////////////////////////////////
    // Get the modal
    var modal = document.getElementById('signModal');

    // Get the button that opens the modal
    var btn = document.getElementById("sign");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    if(typeof(btn) != 'undefined' && btn != null){
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
</script>
<script>
            $("#navButton").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        $("#searchButton").click(function(e) {
            e.preventDefault();
            redirect('/');
        });
        function redirect (url) {
        var ua        = navigator.userAgent.toLowerCase(),
            isIE      = ua.indexOf('msie') !== -1,
            version   = parseInt(ua.substr(4, 2), 10);

        // Internet Explorer 8 and lower
        if (isIE && version < 9) {
            var link = document.createElement('a');
            link.href = url;
            document.body.appendChild(link);
            link.click();
        }

        // All other browsers can use the standard window.location.href (they don't lose HTTP_REFERER like Internet Explorer 8 & lower does)
        else {
            window.location.href = url;
        }
    }
</script>
</body>
</html>
