<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- neck-view port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
    <link href="/css/dialog.css" rel="stylesheet"> <!-- Including CSS File Here-->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/scrollbar.css" media="all">
    <link rel='stylesheet' type="text/css" href='/css/signin.css'/>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/artist.css">

    <!-- JS FROM CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/imagesLoaded.min.js"></script>

</head>
<body>
    <div class="wrapper">
        <!-- Nav Sidebar -->
        <%- navSidebar %>
        <!-- End of Nav Sidebar -->

        <!-- Search Sidebar -->
        <%- searchSidebar %>
        <!-- End of Search Sidebar -->
    </div>
    <header>
        <%- header %>
    </header>
    <main>
        <div class="container">
            <div class="grid class col-sm-12 col-md-6 col-lg-6">
                <h2>
                    일반 개인 고객
                </h2>
                <form class="form-group form-individual">
                    <input type="text" class="form-control" placeholder="이름">
                    <input type="text" class="form-control" placeholder="이메일">
                    <input type="text" class="form-control" placeholder="전화번호">
                    <input type="text" class="form-control" placeholder="주요 활동 지역 (ex. 신사동 가로수길, 대구 동성로)">
                    <input type="text" class="form-control" placeholder="컨셉 키워드(ex. #젠더리스, #normcore, #빈티지, ...">
                    
                    <div class="col-sm-4 col-md-4 col-lg-4">
                    <button class="round-box label" disabled>촬영 지원</button> <input type="checkbox">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                    <button class="round-box label" disabled>생산 지원</button> <input type="checkbox">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                    <button class="round-box label" disabled>유통 지원</button> <input type="checkbox" name="circulation" value="on">
                    </div>
                    <div class="clearboth"></div>
                    <textarea class="form-control text-individual" rows="15">
기획하고자 하는 '판매용' 의류 아이템 1종에 대한 설명을 양식에 따라 작성

1. 아이템 종류: 원피스, 코트, 티셔츠, 청바지, etc... 중 택 1 / 000
2. 희망 수량: 생산 지원 신청 시 가능한 최소 수량 평균 '20장, 미신청시 '1장'도 가능 / 00장
3. 희망 소비자 가격: (통합가격결정법으로 상담 후 최종 결정) / 000,000원
4. 판매 희망 시즌: 봄, 여름 ... / 000시즌
5. 희망 상품명(브랜드 표시): daze, abcd, 123, ... / design by 000
6. 상품 특징: (상담 후 작업지시서 최종 작성) / 희망하는 컬러, 원사 및 원단, 사이즈 구성 및 기타 자유롭게 서술
7. 추가 요청 사항 및 질문: 

                    </textarea>
                    <button class="round-box col-sm-12 col-mg-12 col-lg-12">아티스트 신청</button>
                </form>

            </div>
            <div class="grid class col-sm-12 col-md-6 col-lg-6">
                <h2>
                    기업 고객
                </h2>
                <form class="form-group form-company">
                    <input type="text" class="form-control" placeholder="회사명">
                    <input type="text" class="form-control" placeholder="이름">
                    <input type="text" class="form-control" placeholder="이메일">
                    <input type="text" class="form-control" placeholder="전화번호">
                    <input type="text" class="form-control" placeholder="주요 영업 지역 (ex. 신사동 가로수길, 대구 동성로)">
                    <input type="text" class="form-control" placeholder="컨셉 키워드(ex. #젠더리스, #normcore, #빈티지, ...">
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                    <button class="round-box label" disabled>촬영 지원</button> <input type="checkbox">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                    <button class="round-box label" disabled>생산 지원</button> <input type="checkbox">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                    <button class="round-box label" disabled>유통 지원</button> <input type="checkbox" name="circulation" value="on">
                    </div>
                                        <div class="clearboth"></div>

                    <textarea class="form-control text-company" rows="15">
기획하고자 하는 '판매용' 의류 아이템 1종에 대한 설명을 양식에 따라 작성

1. 아이템 종류: 원피스, 코트, 티셔츠, 청바지, etc... 중 택 1 / 000
2. 희망 수량: 생산 지원 신청 시 가능한 최소 수량 평균 '20장, 미신청시 '1장'도 가능 / 00장
3. 희망 소비자 가격: (통합가격결정법으로 상담 후 최종 결정) / 000,000원
4. 판매 희망 시즌: 봄, 여름 ... / 000시즌
5. 희망 상품명(브랜드 표시): daze, abcd, 123, ... / design by 000
6. 상품 특징: (상담 후 작업지시서 최종 작성) / 희망하는 컬러, 원사 및 원단, 사이즈 구성 및 기타 자유롭게 서술
7. 추가 요청 사항 및 질문: 

                    </textarea>
                    <button class="round-box col-sm-12 col-mg-12 col-lg-12">콜라보레이션 제안</button>

                </form>
            </div>
            <div class="clearboth"></div>
            <div id="contact" class="col-sm-12 col-lg-12 col-md-12">
                <b>연락처: </b>MOBILE-010.4556.9226 <br/>
                <b>이메일: </b> <br/>
                <b>FACEBOOK: </b>facebook.com/ <br/>
                <b>INSTRAGRAM</b>: <br/>

            </div>
        </div>

    </main>
    <footer class="bg-gray-90">
        <%- footer %>
    </footer>

<script>
    $(document).ready(function(){
		
		$('input[name="circulation"]').attr('checked', 'checked');


        //$('#sidebar-wrapper').scrollbar();
        //$('#searchbar-wrapper').scrollbar();
        /*Menu-toggle*/
       
         $("#navButton").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        $("#searchButton").click(function(e) {
            e.preventDefault();
            redirect('/');
        });
        function redirect (url) {
        var ua        = navigator.userAgent.toLowerCase(),
            isIE      = ua.indexOf('msie') !== -1,
            version   = parseInt(ua.substr(4, 2), 10);

        // Internet Explorer 8 and lower
        if (isIE && version < 9) {
            var link = document.createElement('a');
            link.href = url;
            document.body.appendChild(link);
            link.click();
        }

        // All other browsers can use the standard window.location.href (they don't lose HTTP_REFERER like Internet Explorer 8 & lower does)
        else {
            window.location.href = url;
        }
    }
        $('button').click(function(e){
            e.preventDefault();
            alert("신청 사항은 검토 후 연락드리겠습니다.");
        })

})

</script>
</body>
</html>
