<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- neck-view port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
    <link href="/css/dialog.css" rel="stylesheet"> <!-- Including CSS File Here-->
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/scrollbar.css" media="all">
    <link rel='stylesheet' type="text/css" href='/css/signin.css'/>
    <link rel="stylesheet" type="text/css" href="/css/cart.css" media="all" />

    <!-- JS FROM CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/imagesLoaded.min.js"></script>

</head>
<body><div class="wrapper">
        <!-- Nav Sidebar -->
        <%- navSidebar %>
        <!-- End of Nav Sidebar -->

        <!-- Search Sidebar -->
        <%- searchSidebar %>
        <!-- End of Search Sidebar -->
    </div>
    <header>
            <%- header %>

</header>
<main id="customized" class="container">
    <header>

    </header>
    <main id="">
        <%- items %>
        
        <div class="form-group">
            <button id="copy" class="btn btn-theme col-sm-2 col-sm-push-1">Copy</button>
            <button id="del" class="btn btn-theme col-sm-2 col-sm-push-2">Del</button>
            <button id="del" class="btn btn-theme col-sm-2 col-sm-push-6" disabled>Payment</button>

        </div>
    </main>

    <footer>
        <table id="total">
            <tr>
                <th>
                    주문금액
                </th>
                <th>
                    할인
                </th>
                <th>
                    배송비
                </th>
                <th>
                    결제금액
                </th>
            </tr>
            <tr>
               <td id="total-price">
                   
               </td> 
               <td id="discount-price">
                   &#8361; 0원
               </td> 
               <td id="total-price">
                  &#8361; 2,500원

               </td> 
               <td id="payment-price">
                   
               </td> 
            </tr>
        </table>
        
    </footer>

</main>
<footer class="bg-gray-90">
    <%- footer %>
</footer>
<script>
    // 숫자 타입에서 쓸 수 있도록 format() 함수 추가
Number.prototype.format = function(){
    if(this==0) return 0;
 
    var reg = /(^[+-]?\d+)(\d{3})/;
    var n = (this + '');
 
    while (reg.test(n)) n = n.replace(reg, '$1' + ',' + '$2');
 
    return n;
};
 
// 문자열 타입에서 쓸 수 있도록 format() 함수 추가
String.prototype.format = function(){
    var num = parseFloat(this);
    if( isNaN(num) ) return "0";
 
    return num.format();
};
$( document ).ready(function() {
    
    //init all checkbox checked;
    $('input[type=checkbox]').attr('checked',true); 
    
    price();

    $('#check-all').click(function () {    
        $('input:checkbox').prop('checked', this.checked);    
    });
    $('input:checkbox').click(function(){
        price();
    })
    function price(){
        var totalPrice = 0;
        var paymentPrice =0;
        $('td.price').each(function(){
            console.log($(this).parents('tr'));
            if($(this).parents('tr').find('input:checkbox').is(":checked")){
                totalPrice+=parseInt($(this).data('price'));

            }
            
    
        });
        if(totalPrice>0){
            paymentPrice = totalPrice + 2500;

        }else{
            paymentPrice =0;
        }
        $('#total-price').html("&#8361; "+totalPrice.format()+"원").html();
        $('#payment-price').html("&#8361; "+paymentPrice.format()+"원").html();

    }



   var isLoggedIn = <%- isLoggedIn %>;
		if(!isLoggedIn){
			$('#sidebar-wrapper a').attr('href', '/signin');
			$('span.follow-button').click(function(){
			    redirect('signin');
			});
			$('.search-option').click(function(){
			    redirect('signin')
			});

		}
	    else{
	        $('span.follow-button').click(function(){
    	        var product = $(this).parents('article').attr('id');
	            console.log(product);		    
			});
	        $('#sign').children().attr('href', '/logout');
	        $('#sign').children().text('로그아웃');
	        

	    }
     $("#navButton").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        $("#searchButton").click(function(e) {
            e.preventDefault();
            redirect('/');
        });
        function redirect (url) {
        var ua        = navigator.userAgent.toLowerCase(),
            isIE      = ua.indexOf('msie') !== -1,
            version   = parseInt(ua.substr(4, 2), 10);

        // Internet Explorer 8 and lower
        if (isIE && version < 9) {
            var link = document.createElement('a');
            link.href = url;
            document.body.appendChild(link);
            link.click();
        }

        // All other browsers can use the standard window.location.href (they don't lose HTTP_REFERER like Internet Explorer 8 & lower does)
        else {
            window.location.href = url;
        }
    }
    $('#customer button').click(function(){
        alert("문의가 정상적으로 접수되었습니다. 빠른 시일 내에 답변하겠습니다.")
    })
    $('#company button').click(function(){
        alert("문의가 정상적으로 접수되었습니다. 빠른 시일 내에 답변하겠습니다.")
    })
});
        
</script>
</body>
</html>
