<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- neck-view port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
    <link href="/css/dialog.css" rel="stylesheet"> <!-- Including CSS File Here-->
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/scrollbar.css" media="all">
    <link rel='stylesheet' type="text/css" href='/css/signin.css'/>
    <link rel="stylesheet" type="text/css" href="/css/contact.css" media="all" />

    <!-- JS FROM CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/imagesLoaded.min.js"></script>

</head>
<body><div class="wrapper">
        <!-- Nav Sidebar -->
        <%- navSidebar %>
        <!-- End of Nav Sidebar -->

        <!-- Search Sidebar -->
        <%- searchSidebar %>
        <!-- End of Search Sidebar -->
    </div>
    <header>
            <%- header %>

</header>
<main>
    <div class="container">
<header>
            <h1>CONTACT US</h1>
        </header>
        <main>
            <form id="customer">
                <label for="customer-type">개인 고객</label>
                <input name="name" type="text" placeholder="이름">
                <input name="email" type="text" placeholder="이메일">
                <input name="phone" type="text" placeholder="전화번호(숫자만 입력해주세요.)">


                <select id="customer-type"name="customer-type">
                    <option value="shipping">배송문의</option>
                    <option value="product">상품문의</option>
                    <option value="refund">환불&교환</option>
                    <option value="account">회원탈퇴</option>
                    <option value="etc">기타</option>
                </select>
                <textarea rows="20" placeholder="문의내용">

                </textarea>
                <button type="submit">문의하기</button>
            </form>
            <form id="company">
                <label for="company-type">기업 고객</label>
                <input name="name" type="text" placeholder="이름">
                <input name="email" type="text" placeholder="이메일">
                <input name="phone" type="text" placeholder="전화번호(숫자만 입력해주세요.)">
                <select id="company-type"name="company-type">
                    <option value="invest">투자제안</option>
                    <option value="coworking">협업문의</option>
                    <option value="order">사입문의</option>
                    <option value="manufacture">제작요청</option>
                    <option value="etc">기타</option>
                </select>
                <textarea rows="20" placeholder="문의내용">

                </textarea>
                <button type="submit">문의하기</button>
            </form>
            <div style="clear:both"></div>
        </main>
        <footer>
            <span class="txt-bold">연락처:</span>      &ensp;&ensp;MOBILE-010.4848.4742 <br/>
            <span class="txt-bold">EMAIL:</span>        &ensp;&ensp;ttag@naver.com<br/>
            <span class="txt-bold">FACEBOOK:</span>     &ensp;facebook.com/ttag /<br/>
            <span class="txt-bold">INSTAGRAM:</span>    &ensp;ttag / KAKAO: ttag / Wechat: ttag<br/>
        </footer>
    </div>

</main>
<footer class="bg-gray-90">
    <%- footer %>
</footer>
<script>
$( document ).ready(function() {
   
     $("#navButton").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        $("#searchButton").click(function(e) {
            e.preventDefault();
            redirect('/');
        });
        function redirect (url) {
        var ua        = navigator.userAgent.toLowerCase(),
            isIE      = ua.indexOf('msie') !== -1,
            version   = parseInt(ua.substr(4, 2), 10);

        // Internet Explorer 8 and lower
        if (isIE && version < 9) {
            var link = document.createElement('a');
            link.href = url;
            document.body.appendChild(link);
            link.click();
        }

        // All other browsers can use the standard window.location.href (they don't lose HTTP_REFERER like Internet Explorer 8 & lower does)
        else {
            window.location.href = url;
        }
    }
    $('#customer button').click(function(){
        alert("문의가 정상적으로 접수되었습니다. 빠른 시일 내에 답변하겠습니다.")
    })
    $('#company button').click(function(){
        alert("문의가 정상적으로 접수되었습니다. 빠른 시일 내에 답변하겠습니다.")
    })
});
        
</script>
</body>
</html>
