<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- neck-view port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
    <link href="/css/dialog.css" rel="stylesheet"> <!-- Including CSS File Here-->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/scrollbar.css" media="all">
    <link rel='stylesheet' type="text/css" href='/css/signin.css'/>
    <link rel="stylesheet" type="text/css" href="/css/index.css">

    <!-- JS FROM CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/imagesLoaded.min.js"></script>

</head>
<body>
    <div class="wrapper">
        <!-- Nav Sidebar -->
        <%- navSidebar %>
        <!-- End of Nav Sidebar -->

        <!-- Search Sidebar -->
        <%- searchSidebar %>
        <!-- End of Search Sidebar -->
    </div>
    <header>
        <%- header %>
    </header>
    <main>
        <div class="container">
                <div class="grid class col-sm-12 col-md-12 col-lg-12">
                    <%- article %>
                </div>
            </div>
        </div>

    </main>
    <footer class="bg-gray-90">
        <%- footer %>
    </footer>
    <div id="dialog" title="검색 조건 저장">
        <form action="" method="post">
            <label></label>
            <input id="name" class="form-control" name="name" type="text">
            <input id="submit" type="submit" value="저장하기">
        </form>
    </div>
    <div id="dialog-load" title="검색 조건 불러오기">
        <form action="" method="post">
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <input id="submit" type="submit" value="불러오기">

        </form>
    </div>


<script>
    $(document).ready(function(){
		
		/* followBtn Action 
        var followBtn = $('.follow-button');
            followBtn.click(function(){
                var heart = $(this).parents().eq(1).children('.heart-wrapper').children('i');
                var number =  $(this).parents().eq(1).children('.heart-wrapper').children('span')
                if (heart.hasClass('fa-heart-o')){
                    heart.attr('class', 'fa fa-heart');
                    number.text(Number(number.text())+1);
                }else{
                    heart.removeClass('fa-heart').addClass('fa-heart-o');
                    number.text(Number(number.text())-1);

                }
            })
        */
        $(".gird-item").map(function() {
            var gender = Math.floor(Math.random() * 10) % 3;
            switch (gender){
                case 0:

                    break;
                case 1:
                    break;
                case 2:
                    break;
                default:
                    break;
            }
        }).get();


        //$('#sidebar-wrapper').scrollbar();
        //$('#searchbar-wrapper').scrollbar();
        /*Menu-toggle*/
        $("#navButton").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        $("#searchButton").click(function(e) {
            e.preventDefault();
            $("#searchbar-wrapper").toggleClass("active");
        });

        var $container = $('.grid');
        var $boxes = $('.grid-item');
        $boxes.hide();

        $container.imagesLoaded(function () {
            $boxes.fadeIn();
            $container.isotope({
                // options
                itemSelector: '.grid-item',
                columnWidth: '.block',
                percentPosition: true,
                getSortData: {
                    likes: function( itemElem ) { // function
                        var likes = $( itemElem ).find('.heart-wrapper > span').text();
                        return parseInt( likes.replace( /[\(\)]/g, '') );
                    },// text from querySelector
                    comments: function( itemElem ) { // function
                        var comments = $( itemElem ).find('.comment-wrapper > span').text();
                        return parseInt( comments.replace( /[\(\)]/g, '') );
                    }, // text from querySelector
                    high_price:  function( itemElem ) { // function
                        var high_price = $( itemElem ).find('.price_value').text();
                        return parseInt( high_price.replace( /[\(\)]/g, '') );
                    },
                    low_price: function( itemElem ) { // function
                        var low_price = $( itemElem ).find('.price_value').text();
                        return parseInt( low_price.replace( /[\(\)]/g, '') );
                    }
                },
                sortAscending: {
                    likes: false,
                    comments: false,
                    high_price: false,
                    low_price: true
                }
            });
        });

        $('.sortby-likes').click(function(){
            $container.isotope({ sortBy : 'likes' });
        })
        $('.sortby-comments').click(function(){
            $container.isotope({ sortBy : 'comments' });
        })
        $('.sortby-high-price').click(function(){
            $container.isotope({ sortBy : 'high_price' });
        })
        $('.sortby-low-price').click(function(){
            $container.isotope({ sortBy : 'low_price' });
        })

        //$container.infinitescroll({
        //        navSelector  : '#rh_nav_below',
        //        nextSelector : '#rh_nav_below .rh_nav_next a',
        //        itemSelector : '.grid-item',
        //        loading: {
        //            finishedMsg: 'No more pages to load.',
        //            img: 'http://i.imgur.com/6RMhx.gif'
        //        }
        //    },
        //    function( newElements ) {
        //        var $newElems = $( newElements ).css({ opacity: 0 });
        //        $newElems.imagesLoaded(function(){
        //            $newElems.animate({ opacity: 1 });
        //            $container.masonry( 'appended', $newElems, true );
        //        });
        //    }
        //);

        ////


        $("input:radio[id='product-onepiece']").click(function(){
            $( ".Option" ).remove();
            var chk = $(this).is(":checked");
            if(chk){
                var Option =
                    '<li class="Option">' +
                    '<span class="option-title">* 네크라인</span>'+
                    '<form class="form-control">'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="neck-v" >'+
                    '브이넥'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="neck-turtle" >'+
                    '터틀넥'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="neck-round" >'+
                    '라운드'+
                    '</label>'+
                    '</form>'+
                    '</li>'+
                    '<li class="Option">' +
                    '<span class="option-title">* 바디쉐이프</span>'+
                    '<form class="form-control">'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="type-t-dress" >'+
                    '티 드레스'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="type-lab-dress" >'+
                    '랩 드레스'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="type-shirts-dress" >'+
                    '셔츠 드레스'+
                    '</label>'+
                    '</form>'+

                    '</li>'+
                    '<li class="Option">' +
                    '<span class="option-title">* 길이</span>'+
                    '<form class="form-control">'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="onepiece-length-long" >'+
                    '롱'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="onepiece-length-medium" >'+
                    '미디움'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="onpiece-length-short" >'+
                    '쇼트'+
                    '</label>'+
                    '</form>'+
                    '</li>';
                $(Option).insertAfter("#productType");
                $('#searchbar-wrapper').css('border-left', '1px solid color-black');
                $('#searchbar-wrapper').css('border-bottom', '1px solid color-black');
                addFilter();


            }
        })

        $("input:radio[id='product-top']").click(function(){
            $( ".Option" ).remove();

            var chk = $(this).is(":checked");
            if(chk){
                var Option =
                    '<li class="Option">' +
                    '<span class="option-title">* 네크라인</span>'+
                    '<form class="form-control">'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="neck-v" >'+
                    '브이넥'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="neck-turtle" >'+
                    '터틀넥'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="neck-round" >'+
                    '라운드'+
                    '</label>'+
                    '</form>'+
                    '</li>'+
                    '<li class="Option">' +
                    '<span class="option-title">* 바디</span>'+
                    '<form class="form-control">'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="type-t-shirts" >'+
                    '티셔츠'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="type-shirts" >'+
                    '셔츠'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="type-etc" >'+
                    '기타'+
                    '</label>'+
                    '</form>'+

                    '</li>'+
                    '<li class="Option">' +
                    '<span class="option-title">슬리브 스타일</span>'+
                    '<form class="form-control">'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="sleeve-long" >'+
                    '롱'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="sleeve-medium" >'+
                    '미디움'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="sleeve-short" >'+
                    '숏'+
                    '</label>'+
                    '</form>'+
                    '</li>';
                $(Option).insertAfter("#productType");
                $('#searchbar-wrapper').css('border-left', '1px solid color-black');
                $('#searchbar-wrapper').css('border-bottom', '1px solid color-black');

                addFilter();

            }else{
                $( ".Option" ).remove(function(){

                });
                $('#searchbar-wrapper').css('border-left', '1px solid color-black');
                $('#searchbar-wrapper').css('border-bottom', '1px solid color-black');
                addFilter();

            }
        })

        $("input:radio[id='product-bottom']").click(function(){
            $( ".Option" ).remove();

            var chk = $(this).is(":checked");
            if(chk){
                var Option =
                    '<li class="Option">' +
                    '<span class="option-title">* 종류</span>'+
                    '<form class="form-control">'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="type-skirt" >'+
                    '치마'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="inlineRadioOptions" id="type-pants" >'+
                    '바지'+
                    '</label>'+
                    '</form>'+

                    '</li>'+
                    '<li class="Option">' +
                    '<span class="option-title">* 길이</span>'+
                    '<form class="form-control">'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="bottomLength" id="length-long" >'+
                    '롱'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="bottomLength" id="length-medium" >'+
                    '미디움'+
                    '</label>'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="bottomLength" id="length-short" >'+
                    '쇼트'+
                    '</label>'+
                    '</form>'+
                    '</li>';
                $(Option).insertAfter("#productType", function(){

                });
                $('#searchbar-wrapper').css('border-left', '1px solid color-black');
                $('#searchbar-wrapper').css('border-bottom', '1px solid color-black');
                addFilter();


            }else{
                $( ".Option" ).remove(function(){

                });
                $('#searchbar-wrapper').css('border-left', '1px solid color-black');
                $('#searchbar-wrapper').css('border-bottom', '1px solid color-black');
                addFilter();

            }
        })
        function addFilter() {
            var filter = '';
            $("input:radio").each(function () {
                if ($(this).is(":checked")) {
                    if ($(this).attr('id') == 'onepiece-length-long' || $(this).attr('id') == 'sleeve-long')
                        filter += '.length-long';
                    else if ($(this).attr('id') == 'onepiece-length-medium' || $(this).attr('id') == 'sleeve-medium')
                        filter += '.length-medium';
                    else if ($(this).attr('id') == 'onepiece-length-short' || $(this).attr('id') == 'sleeve-short')
                        filter += '.length-short';
                    else if ($(this).attr('id') == 'gender-female')
                        filter += '.' + $(this).attr('id');
                    else if ($(this).attr('id') == 'gender-male')
                        filter += '.' + $(this).attr('id');
                    else
                        filter += '.' + $(this).attr('id');
                }
            });
            if($("#seller").val()!=''){
                var sellers = new Array();
                sellers = $("#seller").val().split(/[ ,]+/);
                for(var i=0; i<sellers.length; i++){
                    filter+='.artist-'+sellers[i];
                }
            }
            if($("#hashtag").val()!=''){
                var hashtagQuery = $("#hashtag").val().replace(/\#/g, '');
                var hastags = hashtagQuery.split(/[ ,]+/);
                for(var i=0; i<hastags.length; i++){
                    filter+='.hashtag-'+hastags[i];
                }            }
            if($('#searchText').val()!=''){
                filter+='.'+$("#searchText").val();
            }
            console.log(filter);

            $container.isotope({filter: filter});
        }
        $('#searchbar-wrapper').on('click', 'input:radio', function() {
            addFilter();

            $("input:radio").click(function(){
                addFilter();
            });
        });
        

        $('input:text').bind("enterKey",function(e){
            addFilter();
            return false;    //<---- Add this line

        });
        $('input:text').keyup(function(e){
            if(e.keyCode == 13)
            {
                addFilter();
                $(this).trigger("enterKey");
                return false;    //<---- Add this line

            }
        });

        $(function() {
            $("#dialog").dialog({
                autoOpen: false,
                create: function(event, ui) {
                    var widget = $(this).dialog("widget");
                    $(".ui-dialog-titlebar-close", widget)
                        .append( '<i class="fa fa-times" aria-hidden="true"></i>' )
                }
            });
            $("#save").on("click", function() {
                $("#dialog").dialog("open");
                $("#dialog-load").dialog("close");

            });
            $("#dialog-load").dialog({
                autoOpen: false,
                create: function(event, ui) {
                    var widget = $(this).dialog("widget");
                    $(".ui-dialog-titlebar-close", widget)
                        .append( '<i class="fa fa-times" aria-hidden="true"></i>' )
                }
            });
            $("#load").on("click", function() {
                $("#dialog-load").dialog("open");
                $("#dialog").dialog("close");

            });
        });
// Validating Form Fields.....
        $("#submit").click(function(e) {
            var name = $("#name").val();
            if (name === '') {
                alert("저장할 검색 조건 이름을 입력해 주세요.");
                e.preventDefault();
            }
        });


        $container.on( 'arrangeComplete',
            function( event, filteredItems ) {
                if(!filteredItems.length){
                    redirect('noitem');
                }
            }
        );
    });

		//if(!isLooggedIn) -> set all function link to signin
		var isLoggedIn = <%- isLoggedIn %>;
		if(!isLoggedIn){
			$('#sidebar-wrapper a').attr('href', '/signin');
			$('span.follow-button').click(function(){
			    redirect('signin');
			});
			$('.search-option').click(function(){
			    redirect('signin')
			});

		}
	    else{
	        $('span.follow-button').click(function(){
    	        var product = $(this).parents('article').attr('id');
	            console.log(product);		    
			});
	        $('#sign').children().attr('href', '/logout');
	        $('#sign').children().text('로그아웃');
	        

	    }
	function like(el){
	    if(isLoggedIn){
	        var product = $(el).parents('article').attr('id');
            $.post("/like", {
                    product : product
                },
                function(data, status){
                    console.log(data);
                    var count = valuesToArray(data);
                    console.log(count);
                    $('#'+product +' .follow-count').text(count[1]);
                    console.log($('#'+product +' .follow-count'));

                }
            );	    
	        
	    }
        else{
	        redirect('signin');
	    }
	}
	function follow(el){
	    if(isLoggedIn){
	        var product = $(el).parents('article').attr('id');
	        $.post("/follow", {
                    product : product
                },
                function(data, status){
                    if($('.'+data.msg +' .follow-button').text()=='follow'){
                        $('.'+data.msg +' .follow-button').text('following');
                    }else{
                        $('.'+data.msg +' .follow-button').text('follow');
                    }
                }
            );	    
	    }
	    else{
	        redirect('signin');
	    }
	}
	function comment(el){
	    redirect('signin');
	}
	function valuesToArray(obj) {
  return Object.keys(obj).map(function (key) { return obj[key]; });
}
    function redirect (url) {
        var ua        = navigator.userAgent.toLowerCase(),
            isIE      = ua.indexOf('msie') !== -1,
            version   = parseInt(ua.substr(4, 2), 10);

        // Internet Explorer 8 and lower
        if (isIE && version < 9) {
            var link = document.createElement('a');
            link.href = url;
            document.body.appendChild(link);
            link.click();
        }

        // All other browsers can use the standard window.location.href (they don't lose HTTP_REFERER like Internet Explorer 8 & lower does)
        else {
            window.location.href = url;
        }
    }
</script>
</body>
</html>
