<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- neck-view port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
    <link href="/css/dialog.css" rel="stylesheet"> <!-- Including CSS File Here-->
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/scrollbar.css" media="all">
    <link rel='stylesheet' type="text/css" href='/css/signin.css'/>
    <link rel="stylesheet" type="text/css" href="/css/membership.css" media="all" />

    <!-- JS FROM CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/imagesLoaded.min.js"></script>

</head>
<body><div class="wrapper">
        <!-- Nav Sidebar -->
        <%- navSidebar %>
        <!-- End of Nav Sidebar -->

        <!-- Search Sidebar -->
        <%- searchSidebar %>
        <!-- End of Search Sidebar -->
    </div>
    <header>
            <%- header %>

</header>
<main>
    <div class="container">
        <div class="wrapper">
            <h1>Membership</h1>
            <div id="membership-wrapper">
                <div id="position-wrapper" class="col-sm-12 col-md-7">
                    <div id="profile-wrapper" class="col-sm-3 ">
                        <img src="<%- profile %>">
                        
                    </div>
                    <div id="info-wrapper" class="col-sm-8 col-sm-offset-1">
                            <h2>현재 등급: <%-membership %></h2>
                            <h3>혜택 표시</h3>
                            <button class="btn btn-default">가입</button>
                    </div>
                </div>
                <div id="point-wrapper" class="col-sm-12 col-md-5">
                    <div class="col-sm-9 col-sm-offset-2">
                        <h2>Point</h2>
                        <h3><%- point %></h3>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</main>
<footer class="bg-gray-90">
    <%- footer %>
</footer>
<script>
$( document ).ready(function() {
     $("#navButton").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        $("#searchButton").click(function(e) {
            e.preventDefault();
            redirect('/');
        });
        function redirect (url) {
        var ua        = navigator.userAgent.toLowerCase(),
            isIE      = ua.indexOf('msie') !== -1,
            version   = parseInt(ua.substr(4, 2), 10);

        // Internet Explorer 8 and lower
        if (isIE && version < 9) {
            var link = document.createElement('a');
            link.href = url;
            document.body.appendChild(link);
            link.click();
        }

        // All other browsers can use the standard window.location.href (they don't lose HTTP_REFERER like Internet Explorer 8 & lower does)
        else {
            window.location.href = url;
        }
    }
    
});
        
</script>
</body>
</html>
