<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- neck-view port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
    <link href="/css/dialog.css" rel="stylesheet"> <!-- Including CSS File Here-->
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/scrollbar.css" media="all">
    <link rel='stylesheet' type="text/css" href='/css/signin.css'/>

    <!-- JS FROM CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/imagesLoaded.min.js"></script>

</head>
<body>
<header>
    <div class="wrapper">
        <!-- Nav Sidebar -->
        <%- navSidebar %>
        <!-- End of Nav Sidebar -->

        <!-- Search Sidebar -->
        <%- searchSidebar %>
        <!-- End of Search Sidebar -->
    </div>
    <%- header %>
</header>
<main id="noitem">
        <p class="text-center">죄송합니다.<br/>원하시는 상품을 찾지 못했습니다.</p>
        <div id="buttonWrapper" class="center-3-5">

            <a href="/" class="btn btn-default">재검색</a>
            <a href="/artist" class="btn btn-default">직접 제작</a>
            <a href="#" class="btn btn-default">희망 상품 알림 신청</a>
        </div>


</main>
<footer class="bg-gray-90">
    <%- footer %>
</footer>

<script> $("#navButton").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        $("#searchButton").click(function(e) {
            e.preventDefault();
            redirect('/');
        });
        function redirect (url) {
        var ua        = navigator.userAgent.toLowerCase(),
            isIE      = ua.indexOf('msie') !== -1,
            version   = parseInt(ua.substr(4, 2), 10);

        // Internet Explorer 8 and lower
        if (isIE && version < 9) {
            var link = document.createElement('a');
            link.href = url;
            document.body.appendChild(link);
            link.click();
        }

        // All other browsers can use the standard window.location.href (they don't lose HTTP_REFERER like Internet Explorer 8 & lower does)
        else {
            window.location.href = url;
        }
    }
</script>

</body>
</html>
