<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- neck-view port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
    <link href="/css/dialog.css" rel="stylesheet"> <!-- Including CSS File Here-->
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/scrollbar.css" media="all">
    <link rel='stylesheet' type="text/css" href='/css/signin.css'/>
    <link rel="stylesheet" type="text/css" href="/css/terms.css" media="all" />

    <!-- JS FROM CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/imagesLoaded.min.js"></script>

</head>
<body><div class="wrapper">
        <!-- Nav Sidebar -->
        <%- navSidebar %>
        <!-- End of Nav Sidebar -->

        <!-- Search Sidebar -->
        <%- searchSidebar %>
        <!-- End of Search Sidebar -->
    </div>
    <header>
            <%- header %>

</header>
<main>
    <div class="container">
        <header>
            <h1>Privacy Policy</h1>
        </header>
        <main>
            <p>
                <span style="txt-bold txt-16">개인정보 취급방침</span>

 이용약관

제1조(목적)
이 약관은 티태그(이하 "회사"라 함)가 운영하는 인터넷사이트(이하 "사이트"라 함)를 통하여 제공하는 전자상거래 서비스(이하 "서비스"라 함)와 관련하여 "회사"와 "회원"(제2조에 정합니다)의 권리와 의무, 책임사항 및 "회원"의 "서비스" 이용절차에 관한 사항을 규정함을 목적으로 합니다. 이 약관은PC 통신, 스마트폰(안드로이드폰, 아이폰 등) 앱, 제휴 은행 사이트 등을 이용하는 전자상거래에 대해서도 그 성질에 반하지 않는 한 준용됩니다.

제2조(용어의 정의)
(1) 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.
1) "회사"가 운영하는 "사이트"(2017. 2. 현재)는 아래와 같습니다.
*ttag.kr
- 추후 "회사"에서 공지하고 제공하는 기타 웹사이트
2) 회원: "회사"에 개인정보를 제공하여 회원등록을 한 자로서 이 약관에 따라 "회사"와 "서비스" 이용계약을 체결하고 아이디를 부여 받은 자를 말합니다.
3) 아이디(ID): "회원"의 식별과 "서비스" 이용을 위하여 "회원"이 선정하고 "회사"가 승인한 문자와 숫자의 조합을 말합니다.
4) 비밀번호(Password): "회원"의 동일성 확인과 "회원"의 권익 및 비밀보호를 위하여 "회원" 스스로가 설정하여 "회사"에 등록한 영문과 숫자의 조합을 말합니다.
5) 적립금: "서비스"를 이용할 때 현금처럼 사용할 수 있는 "회사" 전용의 사이버 화폐를 말합니다.
6) 할인쿠폰: "티켓" 또는 "재화 등"을 구매할 때 증권 상 표기된 액면가액만큼 할인 받을 수 있는 디지털 증권을 말합니다.
7) 게시물: "회원"이 "서비스"를 이용함에 있어 "사이트" 상에 게시한 부호, 문자, 음성 형태의 글, 사진, 동영상 및 각종 파일과 링크 등을 의미합니다.
(2) 이 약관에서 정의되지 않은 용어는 관련법령이 정하는 바에 따릅니다.

제3조(약관의 명시와 설명 및 개정)
(1) "회사"는 이 약관의 내용과 "회사"의 상호, 영업소 소재지, 대표자의 성명, 사업자등록번호, 연락처(전화, 팩스, 전자우편 주소 등) 등을 "회원"이 알 수 있도록 "사이트"의 초기 "서비스" 화면에 게시합니다. 다만, 이 약관의 구체적 내용은 "회원"이 연결화면을 통하여 볼 수 있습니다.
(2) "회사"는 약관의 규제에 관한 법률, 전자거래기본법, 전자서명법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 전자상거래 등에서의 소비자보호에 관한 법률, 소비자기본법, 위치정보의 보호 및 이용 등에 관한 법률 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
(3) "회사"가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과 함께 "사이트" 내 공지사항 란에 최소 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다.
(4) 전 항에 따라 공지된 적용일자 이후에 "회원"이 "회사"의 "서비스"를 계속 이용하는 경우에는 개정된 약관에 동의하는 것으로 봅니다. 개정된 약관에 동의하지 아니하는 "회원"은 언제든지 자유롭게 "서비스" 이용계약을 해지할 수 있습니다. 유료 "서비스"를 이용하는 "회원"이 약관의 개정에 동의하지 아니하여 해지할 경우 "회사"가 정한 환불정책에 따릅니다.
(5) 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 정부가 제정한 전자상거래 등에서의 소비자보호 지침 및 관련법령에 따릅니다.

제4조(개별 서비스에 대한 약관 및 이용조건)
"회사"는 제공하는 "서비스"의 구체적 내용에 따라 개별 "서비스"에 대한 약관 및 이용조건을 각 개별 "서비스"마다 별도로 정하여 "회원’의 동의를 얻을 수 있습니다. 이 경우 개별 "서비스"에 대한 이용약관 등이 본 약관에 우선합니다.

제5조(이용계약의 성립)
(1) 이용계약은 "회원"의 약관 동의, 이용신청에 대한 "회사"의 승낙에 의하여 성립합니다.
(2) 이용계약의 성립시기는 "회사"가 가입완료 표시를 신청절차 상에서 표시한 시점으로 합니다.
(3) 이용계약은 만14세 이상의 회원이 할 수 있습니다.

제6조(이용신청 및 승낙)
(1) "회원"은 "회사"가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로써 회원가입을 신청합니다.
(2) "회사"는 전 항에 따른 이용신청 시 "회원"에게 전문기관을 통한 본인인증 절차를 요청할 수 있습니다.
(3) "회사"는 다음 각 호에 해당하는 이용신청에 대하여는 이를 승낙하지 아니하거나 사후에 이용계약을 해지할 수 있습니다.
1) "회사"가 실명확인절차를 실시할 경우에 "회원"의 실명이 아님이 확인된 경우
2) 이미 가입된 "회원"과 이름 및 전자우편 주소가 동일한 경우
3) 타인의 명의를 도용하거나, 등록내용에 허위, 기재누락, 오기가 있는 경우
4) "회사"에 의하여 이용계약이 해지된 날로부터3개월 이내에 재이용 신청을 하는 경우
5) 이 약관에 의하여 이전에 회원자격을 상실한 적이 있는 경우. 다만, 회원자격 상실 후 3개월이 경과한 자로서 "회사"의 "회원" 재가입 승낙을 얻은 경우에는 예외로 합니다.
6) 부정한 용도 또는 영리를 추구할 목적으로 "서비스"를 이용하고자 하는 경우
7) 관련법령에 위배되거나 사회의 안녕질서 혹은 미풍양속을 저해할 수 있는 목적으로 신청한 경우
8) "회사"의 "서비스" 운영에 따른 설비에 여유가 없거나 기술상 지장이 있는 경우. 다만, 이 경우 그 사유가 해소될 때까지 이용 승낙을 유보할 수 있습니다.
9) 만14세 미만의 아동이 이용신청을 하는 경우
10) 기타 이 약관에 위배되거나 위법 또는 부당한 이용신청임이 확인된 경우 및 "회사"가 합리적인 판단에 의하여 필요하다고 인정하는 경우
(4) "회원"은 가입신청 시 작성한 이용신청 사항에 변경이 있는 경우 "사이트"에서 온라인으로 개인정보를 수정하거나 전자우편 기타방법으로 "회사"에 대하여 그 변경 사항을 알려야 합니다. 이를 알리지 않아 발생하는 불이익에 대한 책임은 "회원"에게 있습니다.

제7조(서비스 이용시간)
"서비스"의 이용은 "회사"의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴 1일24시간을 원칙으로 합니다. 다만, 정기 점검 등의 필요로 "회사"가 정한 날이나 시간은 제외됩니다.

제8조(회원의 아이디 및 비밀번호에 대한 의무)
(1) "아이디"와 "비밀번호"에 관한 관리책임은 "회원"에게 있으며, 이를 소홀히 하여 발생한 모든 민형사상의 책임은 "회원" 자신에게 있습니다.
(2) "회원"은 자신의"아이디"및 "비밀번호"를 제3자가 이용하게 해서는 안됩니다.
(3) "회원"이 자신의"아이디"및 "비밀번호"를 도난 당하거나 제3자가 사용하고 있음을 인지한 경우에는 즉시 "회사"에 통보하고 "회사"의 조치가 있는 경우에는 그에 따라야 합니다.
(4) "회원"이 전 항에 따른 통지를 하지 않거나 "회사"의 조치에 응하지 아니하여 발생하는 모든 불이익에 대한 책임은 "회원"에게 있습니다.

제9조(회원의 의무)
(1) "회원"은 관계법령, 이 약관의 규정, 이용안내 등 "회사"가 통지하는 사항을 준수하여야 하며, 기타 "회사" 업무에 방해되는 행위를 하여서는 안됩니다.
(2) "회원"은 "서비스" 이용과 관련하여 다음 각 호의 행위를 하여서는 안됩니다.
1) "서비스" 신청 또는 변경 시 허위내용의 등록
2) "회사"가 게시한 정보의 허가 받지 않은 변경
3) "회사"가 정한 정보 이외의 정보(컴퓨터 프로그램 등)의 송신 또는 게시
4) "회사" 및 기타 제3자의 저작권 등 지적 재산권에 대한 침해
5) "회사" 및 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
6) "회원"의 의무 불이행
7) 기타 관련법령이나 "회사"에서 정한 규정에 위배되는 행위

제10조(회사의 의무)
(1) "회사"는 관련법령과 이 약관이 금지하거나 공공질서, 미풍양속에 반하는 행위를 하지 않으며, 이 약관이 정하는 바에 따라 지속적이고 안정적으로 "서비스"를 제공하기 위하여 최선을 다하여야 합니다.
(2) "회사"는 "회원"이 안전하게 "서비스"를 이용할 수 있도록 "회원"의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추어야 하며 개인정보취급방침을 공시하고 준수합니다.

제11조(구매신청)
(1) "회원"은 이 약관 및 "회사"가 정한 규정에 따라 아래와 같이 "재화 등"의 구매를 신청합니다.
- 회원정보(성명, 연락처, 전자우편 주소) 입력
- "재화 등"의 선택사항 입력
- 티태그에서 실시하는 맞춤형 서비스를 제공받기 위한 신체치수 정보 입력
- 배송지 정보(이름, 연락처, 주소) 입력
- 결제방법의 선택
- 개인정보 제3자 제공 및 이용 조건에 동의한다는 표시(예, 마우스 클릭)
(2) 결제와 관련하여 "회원"이 입력한 정보 및 그 정보와 관련하여 발생한 책임과 불이익은 전적으로 "회원"이 부담하여야 합니다.

제12조(사용 가능한 결제 수단)
회원은 "회사"에서 구매한 "재화 등"에 대한 대금지급방법을 다음 각 호의 하나로 할 수 있습니다.
1) 신용카드 등
2) 적립금
3) 할인쿠폰
4) 실시간 계좌이체
6) 기타 "회사"가 추가 지정하는 결제 수단

제13조(적립금 서비스)
(1) "회원"은 "적립금"을 "사이트"에서 "재화 등"의 구매 시 결제 수단으로 사용할 수 있으며, "회사"는 "적립금"의 적립기준, 사용방법, 사용기한 및 제한에 대한 사항을 "서비스" 화면에 별도로 게시하거나 통지합니다. "적립금"의 사용조건에 관한 사항은 "회사"의 정책에 따라 달라질 수 있습니다.
(2) "적립금"의 유효기간은 원칙적으로 전환/적립 후 3개월이며, 유효기간 동안 사용하지 않을 경우 순차적으로 소멸됩니다. 다만, 마케팅 기타 프로모션 등을 통하여 지급되는 "적립금"의 유효기간은 각각 별도로 설정될 수 있습니다.
(3) "적립금"은 현금으로 환급될 수 없으며, "적립금"의 사용 기간이 만료되거나 이용계약이 종료되면 소멸됩니다.
(4) "회원"은 "적립금"을 제3자와 유상으로 거래하거나 현금으로 전환할 수 없습니다.
(5) "회사"는 "회원"이 부정한 목적이나 용도로 "적립금"을 사용할 경우 "적립금"을 박탈하거나 "회원" 자격을 정지할 수 있습니다.
(6) "회원" 탈퇴 시 전환/적립된 "적립금" 중 미사용한 "적립금"은 즉시 소멸되며, 탈퇴 후 재가입하더라도 소멸된 "적립금"은 복구되지 아니합니다.

제14조(할인쿠폰 서비스)
(1) "회사"는 "할인쿠폰"을 발행하여 "회원"이 "할인쿠폰"을 "사이트"에서 "티켓" 또는 "재화 등"의 구매 시 결제 수단으로 사용할 수 있도록 그 사용 대상, 사용 방법, 사용 기간, 할인 금액 등을 정할 수 있습니다. "할인쿠폰"의 종류 또는 내용은 "회사"의 정책에 따라 달라질 수 있습니다.
(2) "회사"는 "할인쿠폰"의 사용 대상, 사용 방법, 사용 기간, 할인 금액 등을 "할인쿠폰" 및/또는 "서비스" 화면에 별도로 표시하거나 통지합니다.
(3) "할인쿠폰"은 현금으로 환급될 수 없으며, "할인쿠폰"의 사용 기간이 만료되거나 이용계약이 종료되면 소멸합니다. "회원"은 "할인쿠폰"을 제3자와 유상으로 거래하거나 현금으로 전환할 수 없습니다.
(4) "회사"는 "회원"이 "할인쿠폰" 사용 후 구매 취소 또는 환불을 요청하는 경우, "회원"이 기 사용한 "할인쿠폰"의 유효기간과 동일한 "할인쿠폰"을 복구하여 지급합니다.
(5) "회사"는 "회원"이 부정한 목적이나 용도로 "할인쿠폰"을 사용할 경우 "할인쿠폰"을 박탈하거나 "회원" 자격을 정지할 수 있습니다.
(6) "회원" 탈퇴 시 "회사"로부터 발급받은 "할인쿠폰" 중 미사용한 "할인쿠폰"은 즉시 소멸되며, 탈퇴 후 재가입하더라도 소멸된 "할인쿠폰"은 복구되지 아니합니다.

제15조(정보의 제공)
"회사"는 "서비스" 이용에 관한 다양한 정보를 전자우편 또는 서신우편, SMS등의 방법으로 "회원"에게 제공할 수 있으며 "회원"은 수신을 거부할 수 있습니다. 다만 "회사"는 "서비스" 이용에 필수적으로 요구되는 정보(예: 관련 규정/정책의 변경 등)나 유익한 혜택(예: "적립금", "할인쿠폰" 지급 등)에 대해서는 "회원"의 수신거부의사와 무관하게 이를 제공할 수 있습니다.

제16조(회원에 대한 통지)
(1) "회사"가 "회원"에 대한 통지를 하는 경우, "회원"이 가입신청 시 "회사"에 제출한 이메일주소나 SMS로 할 수 있습니다.
(2) "회사"가 불특정다수의 "회원"에게 통지하는 경우, 1주일 이상 "사이트"에 게시함으로써 개별 통지에 갈음할 수 있습니다. 다만, "회원" 본인의 거래에 관하여 중대한 영향을 미치는 사항에 대하여는 개별 통지합니다.

제17조(게시물의 관리)
(1) "회사"는 게시물이 다음 각 호에 해당하는 경우 사전 통보 없이 해당 게시물을 삭제하거나, 열람을 제한하는 등의 조치를 취할 수 있습니다.
1) 타인의 권리나 명예, 신용 기타 정당한 이익을 침해하는 경우
2) 공공질서 및 미풍양속에 위반되는 내용일 경우
3) 범죄행위와 관련된 내용을 포함하는 경우
4) "회사"의 저작권, 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우
5) 불법물, 음란물 또는 청소년유해매체물의 게시, 광고, 사이트를 링크하는 경우
6) "회사"로부터 사전 승인 받지 아니한 상업광고, 판촉 내용을 게시하거나 타 사이트의 링크를 게시하는 경우
7) 상품과 관련 없는 내용일 경우
8) "회사"가 제공하는 "서비스" 기타 영업행위의 원활한 진행을 방해하는 것으로 판단되는 경우
9) 기타 이 약관 또는 관련법령에 위반된다고 판단되는 경우
(2) 전 항에 해당하는 게시물로 인하여 "회사"가 제3자에 대하여 손해배상금을 지급하게 되는 경우(조정, 판결, 민사, 형사 불문) 귀책사유 있는 "회원"은 "회사"가 제3자에게 배상금을 지급하는 즉시 동일 금액 상당을 "회사"에게 지급하여야 합니다.

제18조(게시물의 저작권 및 배타적 이용허락)
(1) "회원"이 작성한 "게시물"의 저작권은 이를 작성한 "회원" 본인에게 있으며, 해당 "게시물"이 타인의 저작권을 침해하는 경우 그에 대한 책임은 "회원" 본인이 부담합니다.
(2) "회원"은 "회사"에게 자신이 작성한 "게시물"을 독점적으로 이용할 수 있는 권리(license)를 부여합니다. 이에 따라 "회사"는 "회원"이 작성한 "게시물"을 검색노출, 판촉, 홍보 기타의 자료로 무상으로 영구적으로 이용할 수 있으며, 필요한 범위 내에서 "게시물"의 일부를 수정, 복제, 편집할 수 있습니다.

제19조(이용제한 등)
(1) "회사"는 "회원"이 다음 각 호의 사유에 해당하는 경우 경고, 일시정지, 영구이용정지 등으로 "서비스"의 이용을 단계적으로 제한할 수 있습니다.
1) 가입 신청 시에 허위 내용을 등록한 경우
2) "재화 등"의 대금결제, 기타 "서비스" 이용과 관련하여 "회원"이 부담하는 채무를 기일에 이행하지 않는 경우
3) 타인의 "서비스" 이용을 방해하거나 정보를 도용하는 등 전자상거래질서를 위협하는 경우
4) "회사"를 이용하여 법령과 이 약관이 금지하거나 공공질서, 미풍양속에 반하는 행위를 하는 경우
5) "회원"이 "티켓"을 구매한 경우 발송되는 문자를 임의로 조작하여 재사용하거나 유사업체에 사용한 경우
(2) "회사"는 전항에도 불구하고 주민등록법을 위반한 명의도용 및 결제도용, 저작권법 및 정보통신망 이용촉진 및 정보보호 등에 관한 법률을 위반한 불법통신 및 해킹, 악성프로그램의 배포 등과 같이 관련 법령을 위반한 경우에는 즉시 영구이용정지를 할 수 있습니다. 본 항에 따른 영구이용정지 시 적립금, 할인쿠폰 및 기타 혜택 등도 모두 소멸되며, "회사"는 이에 대해 별도로 보상하지 않습니다.
(3) 본 조에 따라 "서비스" 이용을 제한하는 경우 "회원"에게 이를 제24조 제2항 제2)호에 따라 통지하고, 회원등록 말소 전에 소명할 기회를 부여할 수 있습니다.
(4) "회사"는 "회원"에 대하여 영화 및 비디오물의 진흥에 관한 법률 및 청소년 보호법 등에 따라 "서비스" 의 이용을 제한할 수 있습니다.

제20조(서비스 제공의 중지)
(1) "회사"는 다음 각 호에 해당하는 경우 "서비스" 제공을 중지할 수 있습니다.
1) "서비스"용 설비의 보수 등 공사로 인한 부득이한 경우
2) 전기통신사업법에 규정된 기간통신사업자가 전기통신 "서비스"를 중지했을 경우
3) 기타 불가항력적 사유가 있는 경우
(2) "회사"는 국가비상사태, 정전, "서비스" 설비의 장애 또는 "서비스" 이용의 폭주 등으로 정상적인 "서비스" 이용에 지장이 있는 때에는 "서비스"의 전부 또는 일부를 제한하거나 정지할 수 있습니다.

제21조(이용계약의 종료)
(1) 회원의 해지
1) "회원"은 언제든지 웹사이트 하단의 contact us 탭을 통하여 이용계약을 해지할 수 있습니다.
2) 전 항에 따라 해지를 한 "회원"은 "회사"가 정하는 규정에 따라 "회원"으로 다시 가입할 수 있습니다.
(2) 회사의 해지
1) "회사"는 "회원"에게 다음과 같은 사유가 있는 경우 이용계약을 해지할 수 있고, 해당 "회원"에 대한 정보의 보유는 개인정보취급방침에 따릅니다.
① 제6조 제2항의 승낙거부사유가 있음이 확인된 경우
② "회사"나 다른 "회원" 기타 타인의 권리나 명예, 신용 기타 정당한 이익을 침해하거나 대한민국 법령 또는 공서양속에 위배되는 행위를 한 경우
③ "회사"가 판매하는 "재화 등"에 대해 확인되지 않는 사실로 불신을 조장하는 행위를 한 경우
④ "회사"가 제공하는 "서비스"의 원활한 진행을 방해하는 행위를 하거나 시도한 경우
⑤ 기타 "회사"가 합리적인 판단에 기하여 "서비스"의 제공을 거부할 필요가 있다고 인정할 경우
2) 이용계약은 "회사"가 해지의사를 "회원"에게 통지한 시점에 종료됩니다. 이 경우 "회사"는 "회원"이 등록한 전자우편 또는 전화, 기타의 방법을 통하여 해지의사를 통지합니다.
(3) 이용계약이 종료되는 경우 "회원"의 "적립금" 및 "할인쿠폰"은 소멸되며, 환불 등의 처리는 "회사"의 환불규정에 의합니다.
(4) 이용계약의 종료와 관련하여 발생한 손해는 이용계약이 종료된 해당 "회원"이 책임을 부담하여야 하고 "회사"는 일체의 책임을 지지 않습니다.

제22조(저작권 등의 귀속 및 이용제한)
(1) "회사"가 작성한 저작물에 대한 저작권, 특허권, 상표권 기타 지적재산권은 "회사"에 귀속합니다.
(2) "회원"은 "서비스"를 이용함으로써 얻은 정보를 "회사"의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 등 기타 방법에 의하여 이용하거나 제3자에게 이용하게 하여서는 안 됩니다.

제23조(개인정보보호)
(1) "회사"는 "회원"의 개인정보를 보호하기 위하여 정보통신망 이용촉진 및 정보보호 등에 관한 법률 및 개인정보 보호법 등 관계 법령에서 정하는 바를 준수합니다. 개인정보의 보호 및 사용에 대해서는 관련법령 및 "회사"의 개인정보취급방침이 적용됩니다.
(2) "회사"는 "회원"의 개인정보를 보호하기 위하여 개인정보취급방침을 제정, "서비스" 초기화면에 게시합니다. 다만, 개인정보취급방침의 구체적 내용은 연결화면을 통하여 볼 수 있습니다.
(3) "회사"는 이용계약을 위하여 "회원"이 제공한 정보를 "회사"의 "서비스" 운영을 위한 목적 이외의 용도로 사용하거나 "회원"의 동의 없이 제3자에게 제공하지 않습니다. 단, 다음 각 호의 경우에는 예외로 합니다.
1) 법령에 근거하여 회원정보의 이용과 제3자에 대한 정보제공이 허용되는 경우
2) 배송업무 등 거래 이행에 필요한 최소한의 회원정보(성명, 주소, 연락처 등)를 배송업체에 알려주는 경우
3) 기타 "회사"의 약관 및 정책에 따라 "회원"의 동의를 구한 경우

제24조(기록 보존)
(1) "회사"는 전자상거래 등에서의 소비자보호에 관한 법률에 따라 다음 각 호에 대한 기록은 법령에서 정한 기간 동안 보존합니다.
1) 이용계약 또는 청약철회 등에 관한 기록
2) 대금결제 및 배송 등에 관한 기록(성명, 주소, 휴대폰번호, 이메일, 주민등록번호 등 거래의 주체를 식별할 수 있는 정보에 한함)
(2) "회사"는 "회원"이 "티켓"을 사용하지 못한 경우 해당 유효기간 동안 "티켓" 사용에 관련된 정보를 보존합니다.

제25조(면책 조항)
(1) "회사"는 천재지변 또는 이에 준하는 불가항력으로 인하여 "서비스"를 제공할 수 없는 경우에는 "서비스" 제공에 관한 책임이 면제됩니다.
(2) "회사"는 "회원"의 귀책사유로 인한 "서비스" 이용의 장애에 대하여 책임을 지지 않습니다.
(3) "회사"는 "회원"이 "서비스"를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않으며, 그 밖의 "서비스"를 통하여 얻은 자료로 인한 손해에 관하여 책임을 지지 않습니다.
(4) "회사"는 "회원"이 게재한 정보, 자료, 사실의 신뢰도, 정확성 등 내용에 관해서는 책임을 지지 않습니다.
(5) "회사"는 "회원" 간 또는 "회원"과 제3자 상호간에 "서비스"를 매개로 하여 거래 등을 한 경우에는 책임을 지지 않습니다.

제26조(분쟁 해결)
"회사"는 "회원"이 제기하는 불만사항 및 의견을 우선적으로 처리합니다. 다만 신속한 처리가 곤란한 경우에는 "회원"에게 그 사유와 처리일정을 즉시 통보합니다.

제27조(준거법 및 관할법원)
(1) 이 약관의 해석 및 "회사"와 "회원" 간의 분쟁에 대하여는 대한민국의 법령을 적용합니다.
(2) "서비스" 이용 중 발생한 "회사"와 "회원" 간의 소송은 제소 당시의 “회원”의 주소에 의하고, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 “회원”의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제소합니다.

* 부 칙
1. 이 약관은 2017년 2월 28일부터 적용됩니다.







            </p>
        </main>
        <footer>

        </footer>
    </div>

</main>
<footer class="bg-gray-90">
    <%- footer %>
</footer>
<script>
$( document ).ready(function() {
     $("#navButton").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        $("#searchButton").click(function(e) {
            e.preventDefault();
            redirect('/');
        });
        function redirect (url) {
        var ua        = navigator.userAgent.toLowerCase(),
            isIE      = ua.indexOf('msie') !== -1,
            version   = parseInt(ua.substr(4, 2), 10);

        // Internet Explorer 8 and lower
        if (isIE && version < 9) {
            var link = document.createElement('a');
            link.href = url;
            document.body.appendChild(link);
            link.click();
        }

        // All other browsers can use the standard window.location.href (they don't lose HTTP_REFERER like Internet Explorer 8 & lower does)
        else {
            window.location.href = url;
        }
    }
    
});
        
</script>
</body>
</html>
