<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- neck-view port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
    <link href="/css/dialog.css" rel="stylesheet"> <!-- Including CSS File Here-->
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/scrollbar.css" media="all">
    <link rel='stylesheet' type="text/css" href='/css/signin.css'/>
    <link rel='stylesheet' href='/css/detailed.css'/>

    <!-- JS FROM CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.1/jquery-confirm.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.1/jquery-confirm.min.css">

    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/imagesLoaded.min.js"></script>

</head>
<body><div class="wrapper">
        <!-- Nav Sidebar -->
        <%- navSidebar %>
        <!-- End of Nav Sidebar -->

        <!-- Search Sidebar -->
        <%- searchSidebar %>
        <!-- End of Search Sidebar -->
    </div>
    <header>
            <%- header %>

</header>
<main>
    <div class="container">
        <div id="item-wrapper">
            <%- items %>
            
        </div>
    </div>

</main>
<footer class="bg-gray-90">
    <%- footer %>
</footer>
<script>
var isLoggedIn = <%- isLoggedIn %>;
		if(!isLoggedIn){
			$('#sidebar-wrapper a').attr('href', '/signin');
			$('span.follow-button').click(function(){
			    redirect('signin');
			});
			$('.search-option').click(function(){
			    redirect('signin')
			});

		}
	    else{
	        $('span.follow-button').click(function(){
    	        var product = $(this).parents('article').attr('id');
	            console.log(product);		    
			});
	        $('#sign').children().attr('href', '/logout');
	        $('#sign').children().text('로그아웃');
	        

	    }
	    $('#submitComment').click(function(event) {
	event.preventDefault();

    if(isLoggedIn){
	        var comment = $('.comment-add').val();
            var product = getParameterByName("id");

	        $.post("/addComment", {
	                comment : comment,
                    product : product
                },
                function(data, status){
                    $('.comment-writed:last').after('<div class="comment-writed"><h3 class="commenter">'+data.nickname+'</h3><p class="comment">'+data.comment+'</p></div>');
                }
            );	    
	    }
	    else{
	        redirect('signin');
	    }

})


</script>

<script>
$( document ).ready(function() {
     $("#navButton").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        $("#searchButton").click(function(e) {
            e.preventDefault();
            redirect('/');
        });
        function redirect (url) {
        var ua        = navigator.userAgent.toLowerCase(),
            isIE      = ua.indexOf('msie') !== -1,
            version   = parseInt(ua.substr(4, 2), 10);

        // Internet Explorer 8 and lower
        if (isIE && version < 9) {
            var link = document.createElement('a');
            link.href = url;
            document.body.appendChild(link);
            link.click();
        }

        // All other browsers can use the standard window.location.href (they don't lose HTTP_REFERER like Internet Explorer 8 & lower does)
        else {
            window.location.href = url;
        }
    }
    
});
    $('button#cart').click(function(){
        
        if(isLoggedIn){

                    
            var size = $("#size option:selected").val();
            var color = $("#color option:selected").val();
            var productId = getParameterByName("id");
            $.post("/addCart",
                {
                    "size": size,
                    "color": color,
                    "productId": productId
                },
                function (data, status) {
                    $.confirm({
                        title: '장바구니에 상품이 담겼습니다.',
                        content: '장바구니로 이동하시겠습니까?',
                        buttons: {
                            confirm: {
                                text:"장바구니 보기",
                                action: function(){
                                    redirect('/cart');
                                }
                            },
                            cancle: {
                                text:"취소",
                                action: function(){
                                }
                            }
                        }
                    });
                }
            );
        }else{
            redirect('/signin')
        }
    });

    function getParameterByName(name, url) {
        if (!url) {
            url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    function redirect (url) {
        var ua        = navigator.userAgent.toLowerCase(),
            isIE      = ua.indexOf('msie') !== -1,
            version   = parseInt(ua.substr(4, 2), 10);

        // Internet Explorer 8 and lower
        if (isIE && version < 9) {
            var link = document.createElement('a');
            link.href = url;
            document.body.appendChild(link);
            link.click();
        }

        // All other browsers can use the standard window.location.href (they don't lose HTTP_REFERER like Internet Explorer 8 & lower does)
        else {
            window.location.href = url;
        }
    }
</script>
</body>
</html>
