<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/scrollbar.css" media="all">
    <link rel="stylesheet" href="/css/huebee.css">

    <link rel='stylesheet' type="text/css" href='/css/signin.css'/>

    <link rel='stylesheet' href='/css/theme.css'/>
    <link rel="stylesheet" href="/css/upload.css" >
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel='stylesheet' href='/css/setUserInfo.css'/>

    <script type="text/javascript" src="../js/signin.js"></script>


    <!-- JS FROM CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/imagesLoaded.min.js"></script>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <script src="/js/core.js"></script>
    <script src="/js/upload.js"></script>
    <script src="/js/huebee.pkgd.js"></script>

    <!-- view port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="wrapper">
        <!-- Nav Sidebar -->
        <%- navSidebar %>
        <!-- End of Nav Sidebar -->

        <!-- Search Sidebar -->
        <%- searchSidebar %>
        <!-- End of Search Sidebar -->
    </div>
    <header>
        <%- header %>
    </header>
<main>
    <div class="container">
       
        <div id="page2" class="contents">

            <header>
                <h1>Account Setting</h1>
                <h2>Required Information-2 <span id="process"> 진행률 <span id="process-value">33%</span></span></h2>
                <a href="/stopSetUserInfo">
                    <img src="../img/login_close.png" class="close">
                </a>
            </header>
            <main>

                <div id="terms">
                    <h3>개인 정보 수집 이용 (선택)</h3>
                    <p><%= privacy_choosable %></p>
                    <input id="chk_terms_1" type="checkbox" name="chk_terms" onclick="terms_1_func()"> <span class="check_text">동의</span>
                    <input id="chk_terms_2" type="checkbox" name="chk_terms" onclick="terms_2_func()"> <span class="check_text">동의 안함</span>
                    <br/>
                </div>
                <div id="privacy">
                    <h3>광고 정보 수집 이용 (선택)</h3>
                    <p><%= advertise %></p>
                    <input id="chk_privacy_1" type="checkbox" name="chk_privacy" onclick="privacy_1_func()"> <span class="check_text">동의</span>
                    <input id="chk_privacy_2" type="checkbox" name="chk_privacy" onclick="privacy_2_func()"> <span class="check_text">동의 안함</span>
                    <br/>
                </div>
            </main>
            <footer>
                <button class="next" onclick="page2()">Next</button>
            </footer>
        </div>

        <div id="page3" class="contents">

            <header>
                <h1>Account Setting</h1>
                <h2>Required Information-3 <span id="process"> 진행률 <span id="process-value">67%</span></span></h2>
                <a href="/stopSetUserInfo">
                    <img src="../img/login_close.png" class="close">
                </a>
            </header>
            <main>
                <p>Link Account</p>
                <div id="iconWrapper">
                    <a href="/auth/facebook"><img id="icon_facebook" class="circular--square " src="../img/icons/facebook.png"></a>
                    <a href="/auth/google"><img id="icon_google" class="circular--square " src="../img/icons/google.png"></a>
                    <a href="/auth/kakaotalk"><img id="icon_kakaotalk" class="circular--square " src="../img/icons/kakaotalk.png"></a>
                    <a href="/auth/instagram"><img id="icon_instagram" class="circular--square " src="../img/icons/instagram.png"></a>
                    <a href="/auth/naver"><img id="icon_naver" class="circular--square " src="../img/icons/naver.png"></a>
                </div>
                <div id="nameWrapper">
                    <p>Name*</p>
                    <input type="text" id="username" placeholder ="<%= p_name %>" value ="<%= name %>">
                    <p>Nickname*</p>
                    <input type="text" id="nickname" placeholder ="<%= p_nickname %>" value="<%=nickname %>">
                </div>
                <div id ="addrWrapper">
                    <p>Address*</p>
                    <input type="text" id="ozipcode1" placeholder ="<%= p_postalCode %>" value="<%=postalCode %>" disabled="disabled"> <button id="searchAddr" onclick="execDaumPostcode()">주소 검색하기</button>
                    <div style="clear:both; margin:0"></div>
                    <input type="text" id="oaddr1" placeholder ="<%= p_basicAddr %>" disabled="disabled" value="<%=basicAddr %>">
                    <input type="text" id="oaddr2" placeholder ="<%= p_detailAddr %>" value="<%=detailAddr %>">
                </div>
                <div id="phoneWrapper">
                    <p>Mobile*</p>
                    <input id="phone" type="text" placeholder ="<%= p_phone %>" value="<%= phone %>">
                </div>
            </main>
            <footer>
                <button class="prev" onclick="prev()">Prev</button>
                <button class="next" onclick="finish()">Finish</button>
            </footer>
        </div>
    </div>
</main>
    <footer class="bg-gray-90">
        <%- footer %>
    </footer>
<script>
    /////////////////////////////// page 1 ////////////////////////////////////////
    var account = '<%- social_account %>';
    var checked ='<%- JSON.stringify(checked) %>';
    checked = JSON.parse(checked);

    var terms = document.getElementById('chk_terms');
    var privacy = document.getElementById('chk_privacy');
    var terms_1 = document.getElementById('chk_terms_1');
    var terms_2 = document.getElementById('chk_terms_2');
    var privacy_1 = document.getElementById('chk_privacy_1');
    var privacy_2 = document.getElementById('chk_privacy_2');

    account = account.split(',')
    var current = 2;


    switch (current){
        case 5:
            $('#page1').fadeOut(0);
            $('#page2').fadeOut(0);
            $('#page3').fadeOut(0);
            $('#page4').fadeOut(0);
            $('#page5').delay(0).fadeIn(200);
            break;
        case 4:
            $('#page1').fadeOut(0);
            $('#page2').fadeOut(0);
            $('#page3').fadeOut(0);
            $('#page4').delay(0).fadeIn(200);
            break;
        case 3:
            $('#page1').fadeOut(0);
            $('#page2').fadeOut(0);
            $('#page3').delay(0).fadeIn(200);
            break;
        case 2:
            $('#page1').fadeOut(0);
            $('#page2').delay(0).fadeIn(200);
            break;


    }
    $(document).ready(function(){




//account = JSON.parse("[" + account + "]");
        if(detectArrayContain(account, 'google')){
            $("#icon_google").css('opacity', 1);
        }
        if(detectArrayContain(account, 'facebook')){
            $("#icon_facebook").css('opacity', 1);
        }
        if(detectArrayContain(account, 'kakaotalk')){
            $("#icon_kakaotalk").css('opacity', 1);
        }
        if(detectArrayContain(account, 'naver')){
            $("#icon_naver").css('opacity', 1);
        }
        if(detectArrayContain(account, 'instagram')){
            $("#icon_instagram").css('opacity', 1);
        }

    });
    function prev(){
        $('#page'+current).fadeOut(200);
        $('#page'+(current-1)).delay(200).fadeIn(200);
    };
    function isEmpty(test){
        if(test == 'undefined') return true;
        if(typeof test == 'undefined') return true;
        if(test === 'undefined') return true;
        if(typeof test === 'undefined') return true;

        return false;
    };

    //page1


    function page1(){

        if (terms.checked && privacy.checked){
            $.post("/setUser",
                {
                    terms : true
                },
                function(data, status){
                    $('#page1').fadeOut(200);
                    $('#page2').delay(200).fadeIn(200);
                    current = 2;
                });


        }else{
            alert("약관에 모두 동의하셔야 다음 단계로 진행이 가능합니다.");
        }
    };


    /////////////////////////////// page 2 ////////////////////////////////////////


    function detectArrayContain(arr, sns){
        if(typeof arr === 'string'){
            if (arr == sns){
                return true;
            }else return false;
        }
        else {
            for(i=0; i<arr.length; i++){
                if(arr[i] == sns){
                    return true;
                }
            }
            return false;

        }

    };

    function terms_1_func(){

        if(terms_2.checked == true){
            terms_2.checked = false;

        }
        return true;
    };
    function terms_2_func(){

        if(terms_1.checked == true){
            terms_1.checked = false;
        }
        return true;

    };
    function privacy_1_func(){

        if(privacy_2.checked == true){
            privacy_2.checked = false;
        }
        return true;

    };
    function privacy_2_func(){

        if(privacy_1.checked == true){
            privacy_1.checked = false;
        }
        return true;

    };
    function page2(){

        if(terms_1.checked || terms_2.checked){
            if(privacy_1.checked || privacy_2.checked){
                var privacy;
                var advertise;
                if (terms_1.checked==true) privacy = true;
                else    privacy = false;
                if( privacy_1.checked == true) advertise = true;
                else advertise = false;
                $.post("/setUser",
                    {
                        "privacy" : privacy,
                        "advertise" : advertise
                    },
                    function(data, status){
                        $('#page2').fadeOut(200);
                        $('#page3').delay(200).fadeIn(200);
                        current = 3;
                    });
            }

        }else{
            alert("체크박스에 체크해주세요.");
        }
    };
    var nickname = document.getElementById('nickname');
    var postalCode = document.getElementById('ozipcode1');
    var basicAddr = document.getElementById('oaddr1');
    var detailAddr = document.getElementById('oaddr2');
    var phone = document.getElementById('phone');
    var username = document.getElementById('username');




    $(".upload").upload({
        action: "/setUser/profileImage",
        beforeSend: onBeforeSend,
        autoUpload: true,
        dataType: 'multipart/form-data',
        postKey: 'profileImage',
        maxSize: 5242880*2,
    }).on("complete.upload", onComplete);

    function onBeforeSend(formData, file) {
        if (file.name.indexOf(".jpg") > 0 || file.name.indexOf(".jpeg") > 0 || file.name.indexOf(".gif")> 0  || file.name.indexOf(".png")> 0 ) {
            // Modify and return form data
            formData.append("profileImage", file);

            return formData;
        }else{
            alert("이미지 파일이 아닙니다.(jpg, jpeg, png, gif 형식만 지원합니다.)");
            return false;
        }
    }
    function onComplete(){
        alert("프로필 이미지가 등록되었습니다.");
        $.ajax({
            type:"POST",
            url:"/setUser/getProfileImage",
            success:function(args){
                $("#profileImage").fadeOut(200).attr('src', args.profile_src).fadeIn(200);
            },
            error:function(e){
                alert(e.responseText);
            }
        });

    }
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#profileImage').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $(".fs-upload-input").change(function(){
        readURL(this);
    });


    function finish(){
        if(username.value=="") {
            alert("이름을 입력해주세요.");
        }else if(nickname.value=="") {
            alert("별명을 입력해주세요.");
        }else if(postalCode.value=="") {
            alert("주소를 입력해주세요.");
        }else if(phone.value=="") {
            alert("핸드폰 번호를 입력해주세요.");
        }else {
            $.post("/setUser",
                {
                    "name": username.value,
                    "nickname": nickname.value,
                    "postalCode": postalCode.value,
                    "detailAddr": detailAddr.value,
                    "basicAddr": basicAddr.value,
                    "phone": phone.value
                },
                function (data, status) {
                    redirect('/')
                }
            );
        }

    };
function redirect (url) {
        var ua        = navigator.userAgent.toLowerCase(),
            isIE      = ua.indexOf('msie') !== -1,
            version   = parseInt(ua.substr(4, 2), 10);

        // Internet Explorer 8 and lower
        if (isIE && version < 9) {
            var link = document.createElement('a');
            link.href = url;
            document.body.appendChild(link);
            link.click();
        }

        // All other browsers can use the standard window.location.href (they don't lose HTTP_REFERER like Internet Explorer 8 & lower does)
        else {
            window.location.href = url;
        }
    }
    // page4
    var get_advDm= "<%- advDm %>";
    var get_advEmail="<%-advEmail %>";

    if (get_advDm == true || get_advDm == "true"){
        $('#dm-agree').addClass("agree");
    }

    if (get_advEmail == true || get_advEmail == "true"){
        $('#mail-agree').addClass("agree");
    }

    $('#dm-agree').click(function(){
        $(this).toggleClass("agree");
    })
    $('#mail-agree').click(function(){
        $(this).toggleClass("agree");
    })
    function page4(){
        var advDm=false, advEmail=false;
        var email = $('#email').val();
        var birthday = $('#birthday').val();
        if($("#dm-agree").hasClass("agree")){
            advDm = true;
        }
        if($("#mail-agree").hasClass("agree")){
            advEmail = true;

        }
        console.log(advDm+'|' +advEmail);
        if(validateEmail(email)){

            $.post("/setUser",
                {
                    email : email,
                    advDm : advDm,
                    advEmail: advEmail,
                    birthday: birthday
                },
                function(data, status){
                    $('#page4').fadeOut(200);
                    $('#page5').delay(200).fadeIn(200);
                    current = 5;
                    console.log(" status : " + status);
                });
        }
        else{
            alert("이메일 형식을 확인해주세요.")
        }



    };

    function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
    ////////////////////////// page5 //////////////////////////////
    var get_gender = "<%- gender %>";
    //var get_color = "<%- color %>";
    //var get_style = "<%- style %>";
    //console.log(get_color);
    if (get_gender == "femail"){
        $("#gender option:eq(2)").attr("selected", "selected");
    }
    $('#keyword-wrapper').click(function() {
        $(this).val("");
    });

    $('#keyword-wrapper').keyup(function(e){
        if($('#keyword-input').children().length >19 ){
            alert("패션키워드는 20개까지 입력이 가능합니다.");
            return true;
        }else{
            if(e.keyCode == 32 || e.keyCode==188 || e.keyCode==229|| e.keyCode==13){
                // user has pressed space or comma or enter
                hashtag = $('#keyword-wrapper').val();
                if(hashtag[0]!='#'){
                    hashtag = '#' + hashtag;
                }
                if(hashtag[hashtag.length]==','){
                    hashtag.slice(-1);
                }
                $('#keyword-input').append("<span class='hashtag' contenteditable='false'>"+hashtag+"</span>");
                $('#keyword-wrapper').val("");

            }
        }


    });
    $('.hashtag').click(function(){
        this.remove();
    })
    function page5(){

        var size = $("#topSize").val();
        var gender =  $("#gender option:selected").val();
        console.log("gender: " + gender);
        var height = $("#height").val();
        var weight = $("#weight").val();
        var color = new Array();
        console.log(color !== 'undefined');
        console.log(color !== null);


        var colors = $('.color-elm');
        colors.each(function(){
            color.push($(this).attr("class").match(/#[\w-]*\b/)[0])
        })
        var style = new Array();
        var styles = $('.hashtag');
        styles.each(function(){
           style.push($(this).text());
        });
        console.log("style: "+ style);
        var measure =  $("#measure option:selected").val();
        console.log("measure: " + measure);
        function pad2(n) { return n < 10 ? '0' + n : n }

        var date = new Date();

        var updateDate = date.getFullYear().toString() + pad2(date.getMonth() + 1) + pad2( date.getDate()) + pad2( date.getHours() ) + pad2( date.getMinutes() ) + pad2( date.getSeconds() ) ;

        var postData = {
            "size": size,
            "gender": gender,
            "height": height,
            "weight": weight,
            "color": JSON.stringify(color),
            "style": JSON.stringify(style),
            "measure": measure,
            "updateDate" : updateDate
        };
        console.log(postData);
        $("#selectBox option:selected").val();
        $.post("/setUser",

            postData,
            function (data, status) {
                $('#page5').fadeOut(200);
                $('#page6').delay(200).fadeIn(200);
                current = 6;
            }
        );
    }
</script>
<script>

    function execDaumPostcode() { //execDaumPostcode() 함수 호출

        new daum.Postcode({

            oncomplete: function(data) {

                var fullAddr = ''; // 최종 주소 변수

                var extraAddr = ''; // 조합형 주소 변수

                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.

                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우

                    fullAddr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    fullAddr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                if(data.userSelectedType === 'R'){
                    //법정동명이 있을 경우 추가한다.
                    if(data.bname !== ''){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있을 경우 추가한다.
                    if(data.buildingName !== ''){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.

                    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');

                }




                // 우편번호와 주소 정보를 해당 필드에 넣는다.

                document.getElementById('ozipcode1').value = data.zonecode; //5자리 새우편번호 사용

                document.getElementById('oaddr1').value = fullAddr;




                // 커서를 상세주소 필드로 이동한다.

                document.getElementById('oaddr2').focus();

            }

        }).open();

    }

</script>
<script>
var isLoggedIn = <%- isLoggedIn %>;
		if(!isLoggedIn){
			$('#sidebar-wrapper a').attr('href', '/signin');
			$('span.follow-button').click(function(){
			    redirect('signin');
			});
			$('.search-option').click(function(){
			    redirect('signin')
			});

		}
	    else{
	        $('span.follow-button').click(function(){
    	        var product = $(this).parents('article').attr('id');
	            console.log(product);		    
			});
	        $('#sign').children().attr('href', '/logout');
	        $('#sign').children().text('로그아웃');
	        

	    }
         $("#navButton").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        $("#searchButton").click(function(e) {
            e.preventDefault();
            redirect('/');
        });
        function redirect (url) {
        var ua        = navigator.userAgent.toLowerCase(),
            isIE      = ua.indexOf('msie') !== -1,
            version   = parseInt(ua.substr(4, 2), 10);

        // Internet Explorer 8 and lower
        if (isIE && version < 9) {
            var link = document.createElement('a');
            link.href = url;
            document.body.appendChild(link);
            link.click();
        }

        // All other browsers can use the standard window.location.href (they don't lose HTTP_REFERER like Internet Explorer 8 & lower does)
        else {
            window.location.href = url;
        }
    }
</script>
</body>
</html>
