<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/scrollbar.css" media="all">
    <link rel="stylesheet" href="/css/huebee.css">

    <link rel='stylesheet' type="text/css" href='/css/signin.css'/>

    <link rel='stylesheet' href='/css/theme.css'/>
    <link rel="stylesheet" href="/css/upload.css" >
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel='stylesheet' href='/css/setUserInfo.css'/>

    <script type="text/javascript" src="../js/signin.js"></script>


    <!-- JS FROM CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/imagesLoaded.min.js"></script>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <script src="/js/core.js"></script>
    <script src="/js/upload.js"></script>
    <script src="/js/huebee.pkgd.js"></script>

    <!-- view port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="wrapper">
        <!-- Nav Sidebar -->
        <%- navSidebar %>
        <!-- End of Nav Sidebar -->

        <!-- Search Sidebar -->
        <%- searchSidebar %>
        <!-- End of Search Sidebar -->
    </div>
    <header>
        <%- header %>
    </header>
<main>
    <div class="container">

        <div id="page4" class="contents">

            <header>
                <h1>Account Setting</h1>
                <h2>Additional Information-1 <span id="process"> 진행률 <span id="process-value">0%</span></span></h2>
                <a href="/stopSetUserInfo">
                    <img src="../img/login_close.png" class="close">
                </a>
            </header>
            <main>
                <div id="mailWrapper" class="wrapper">
                    <p>Email</p>
                    <input type="text" id="email" placeholder="<%= p_email %>" value="<%= email %>" name="email">
                </div>
                <div id="profileWrapper" class="wrapper">
                    <p>Image</p>
                    <img id="profileImage" src ="<%= profile_image %>" alt="프로필 이미지" class="circular--square">
                    <div class="upload" name="profileImage"></div>
                </div>
                <div id="agreeWrapper" class="wrapper">
                    <div class="float">
                        <p>문자 수신 동의</p>
                        <button id="dm-agree" class="">동의하기</button>
                    </div>
                    <div class="float">
                        <p>메일 수신 동의</p>
                        <button id="mail-agree" class="">동의하기</button>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <div id="birthWrapper" class="wrapper">
                    <p>Birthday</p>
                    <input type="text" id="birthday" placeholder="<%= p_birthday %>" value="<%= birthday %>" name="birthday">
                </div>

            </main>
            <footer>
                <button class="skip" onclick="location.href ='/stopSetUserInfo'">Skip</button>
                <button class="prev" onclick="prev()">Prev</button>
                <button class="next" onclick="page4()">Next</button>
            </footer>
        </div>

        <div id="page5" class="contents">

            <header>
                <h1>Account Setting</h1>
                <h2>Additional Information-2 <span id="process"> 진행률 <span id="process-value">33%</span></span></h2>
                <a href="/stopSetUserInfo">
                    <img src="../img/login_close.png" class="close">
                </a>
            </header>
            <main>
                <p>My Fashion Code</p>
                <form class="form-group col-lg-6">
                    <input type="text" class="form-control mfc" id="topSize" placeholder="<%= p_size %>" value="<%= size %>">
                    <select id="gender" class="form-control mfc col-lg-6">
                        <option value="male">남성</option>
                        <option value="female">여성</option>
                    </select>
                    <input type="text" class="form-control mfc" id="height" placeholder="<%= p_height %>" value="<%= height %>">
                    <input type="text" class="form-control mfc" id="weight" placeholder="<%= p_weight %>" value="<%= weight %>">
                    <div class="form-control mfc color-input" id="color" ><span id="placeholder">선호 색상</span></div>
                    <button class="form-control mfc btn btn-theme" disabled>PCS 상담 받기(서비스 예정)</button>
                </form>
                <div class="clearfix"></div>

                <form class="form-group col-lg-6">
                    <input type="text" class="form-control keyword" id="keyword-wrapper" placeholder="My Fashion Keyword (#feminine, #daily, etc...)">
                    <div class="keyword-input" id="keyword-input"></div>
                    <select id="measure" class="form-control mfc">
                        <option value="true">체촌신청여부: 신청함</option>
                        <option value="false">체촌신청여부: 신청안함</option>
                    </select>
                    <div class="btn-wrapper">
                        <button class="btn mfc btn-theme col-lg-12 " disabled>체촌 가이드(서비스 예정)</button>

                    </div>
                    <div class="btn-wrapper">
                        <button class="btn  mfc btn-theme col-lg-12 " disabled>체촌 신청(서비스 예정)</button>

                    </div>

                </form>
            </main>
            <footer>
                <button class="skip" onclick="location.href ='/stopSetUserInfo'">Skip</button>
                <button class="prev" onclick="prev()">Prev</button>
                <button class="next" onclick="page5()">Next</button>
            </footer>
        </div>

        <div id="page6" class="contents">

            <header>
                <h1>Account Setting</h1>
                <h2>Additional Information-2 <span id="process"> 진행률 <span id="process-value">67%</span></span></h2>
                <a href="/stopSetUserInfo">
                    <img src="../img/login_close.png" class="close">
                </a>
            </header>
            <main>
                <form class="form-horizontal col-lg-5">
                    <h2>상의 사이즈 옵션</h2>
                    <div id="topOptions" class="form-group">
                        <label for="shoulder" class="col-sm-6 control-label">어깨너비</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="shoulder" >
                        </div>
                        <label for="chest" class="col-sm-6 control-label">가슴둘레</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="chest" >
                        </div>
                        <label for="stomach" class="col-sm-6 control-label">배둘레</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="stomach" >
                        </div>
                        <label for="belly" class="col-sm-6 control-label">허리둘레</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="belly" >
                        </div>
                        <label for="head" class="col-sm-6 control-label">머리둘레</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="head" >
                        </div>
                        <label for="neck" class="col-sm-6 control-label">목둘레</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="neck" >
                        </div>
                        <label for="forearm" class="col-sm-6 control-label">팔뚝둘레</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="forearm" >
                        </div>
                        <label for="wrist" class="col-sm-6 control-label">손목둘레</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="wrist" >
                        </div>
                        <label for="elbow" class="col-sm-6 control-label">팔꿈치위치(길이)</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="elbow" >
                        </div>
                        <label for="back" class="col-sm-6 control-label">뒷 중심 표준 길이</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="back" >
                        </div>
                        <label for="arm" class="col-sm-6 control-label">팔 길이</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="arm" >
                        </div>
                        <label for="hand" class="col-sm-6 control-label">손 길이</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="hand" >
                        </div>
                    </div>

                </form>

                <form class="form-horizontal col-lg-5">
                    <h2>하의 사이즈 옵션</h2>
                    <div id="topOptions" class="form-group">
                        <label for="belly_bottom" class="col-sm-6 control-label">허리둘레</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="belly_bottom" >
                        </div>
                        <label for="hip" class="col-sm-6 control-label">엉덩이둘레</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="hip" >
                        </div>
                        <label for="thigh" class="col-sm-6 control-label">허벅지둘레</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="thigh" >
                        </div>
                        <label for="knee" class="col-sm-6 control-label">무릎둘레</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="knee" >
                        </div>
                        <label for="calf" class="col-sm-6 control-label">종아리둘레</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="calf" >
                        </div>
                        <label for="ankle" class="col-sm-6 control-label">발목둘레</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="ankle" >
                        </div>
                        <label for="heel" class="col-sm-6 control-label">발목-뒤꿈치 둘레</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="heel" >
                        </div>
                        <label for="centerBack" class="col-sm-6 control-label">하의 뒷 중심 길이</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="centerBack" >
                        </div>
                        <label for="crotch" class="col-sm-6 control-label">밑위 길이</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="crotch" >
                        </div>
                        <label for="kneePosition" class="col-sm-6 control-label">무릎 위치</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="kneePosition" >
                        </div>
                    </div>


                </form>
                <div class="clearfix"></div>
                <div class="col-sm-5">
                    <div class="form-control text-center">패션 리포트 분석(상태 표현)</div>
                </div>
                <div class="clearfix"></div>

                <div class="col-sm-5">
                    <button class="form-control btn btn-theme">신청하기(서비스 예정)</button>
                </div>

            </main>
            <footer>
                <button class="skip" onclick="location.href ='/stopSetUserInfo'">Skip</button>
                <button class="prev" onclick="prev()">Prev</button>
                <button class="next" onclick="location.href ='/stopSetUserInfo'">Finish</button>
            </footer>
        </div>
    </div>
</main>
    <footer class="bg-gray-90">
        <%- footer %>
    </footer>
<script>
    /////////////////////////////// page 1 ////////////////////////////////////////
    var account = '<%- social_account %>';
    var checked ='<%- JSON.stringify(checked) %>';
    checked = JSON.parse(checked);

    var terms = document.getElementById('chk_terms');
    var privacy = document.getElementById('chk_privacy');
    var terms_1 = document.getElementById('chk_terms_1');
    var terms_2 = document.getElementById('chk_terms_2');
    var privacy_1 = document.getElementById('chk_privacy_1');
    var privacy_2 = document.getElementById('chk_privacy_2');


    account = account.split(',')
    var current = 4;

    $(document).ready(function(){
        $('#page4').fadeIn(200);




//account = JSON.parse("[" + account + "]");
        if(detectArrayContain(account, 'google')){
            $("#icon_google").css('opacity', 1);
        }
        if(detectArrayContain(account, 'facebook')){
            $("#icon_facebook").css('opacity', 1);
        }
        if(detectArrayContain(account, 'kakaotalk')){
            $("#icon_kakaotalk").css('opacity', 1);
        }
        if(detectArrayContain(account, 'naver')){
            $("#icon_naver").css('opacity', 1);
        }
        if(detectArrayContain(account, 'instagram')){
            $("#icon_instagram").css('opacity', 1);
        }

    });
    function prev(){
        $('#page'+current).fadeOut(200);
        $('#page'+(current-1)).delay(200).fadeIn(200);
    };
    function isEmpty(test){
        if(test == 'undefined') return true;
        if(typeof test == 'undefined') return true;
        if(test === 'undefined') return true;
        if(typeof test === 'undefined') return true;

        return false;
    };

    //page1

    $('.fs-upload-input').hide();

    function page1(){

        if (terms.checked && privacy.checked){
            $.post("/setUser",
                {
                    terms : true
                },
                function(data, status){
                    $('#page1').fadeOut(200);
                    $('#page2').delay(200).fadeIn(200);
                    current = 2;
                });


        }else{
            alert("약관에 모두 동의하셔야 다음 단계로 진행이 가능합니다.");
        }
    };


    /////////////////////////////// page 2 ////////////////////////////////////////


    function detectArrayContain(arr, sns){
        if(typeof arr === 'string'){
            if (arr == sns){
                return true;
            }else return false;
        }
        else {
            for(i=0; i<arr.length; i++){
                if(arr[i] == sns){
                    return true;
                }
            }
            return false;

        }

    };

    function terms_1_func(){

        if(terms_2.checked == true){
            terms_2.checked = false;

        }
        return true;
    };
    function terms_2_func(){

        if(terms_1.checked == true){
            terms_1.checked = false;
        }
        return true;

    };
    function privacy_1_func(){

        if(privacy_2.checked == true){
            privacy_2.checked = false;
        }
        return true;

    };
    function privacy_2_func(){

        if(privacy_1.checked == true){
            privacy_1.checked = false;
        }
        return true;

    };
    function page2(){

        if(terms_1.checked || terms_2.checked){
            if(privacy_1.checked || privacy_2.checked){
                var privacy;
                var advertise;
                if (terms_1.checked==true) privacy = true;
                else    privacy = false;
                if( privacy_1.checked == true) advertise = true;
                else advertise = false;
                $.post("/setUser",
                    {
                        "privacy" : privacy,
                        "advertise" : advertise
                    },
                    function(data, status){
                        $('#page2').fadeOut(200);
                        $('#page3').delay(200).fadeIn(200);
                        current = 3;
                    });
            }

        }else{
            alert("체크박스에 체크해주세요.");
        }
    };
    var nickname = document.getElementById('nickname');
    var postalCode = document.getElementById('ozipcode1');
    var basicAddr = document.getElementById('oaddr1');
    var detailAddr = document.getElementById('oaddr2');
    var phone = document.getElementById('phone');
    var username = document.getElementById('username');




    $(".upload").upload({
        action: "/setUser/profileImage",
        beforeSend: onBeforeSend,
        autoUpload: true,
        dataType: 'multipart/form-data',
        postKey: 'profileImage',
        maxSize: 5242880*2,
    }).on("complete.upload", onComplete);

    function onBeforeSend(formData, file) {
        if (file.name.indexOf(".jpg") > 0 || file.name.indexOf(".jpeg") > 0 || file.name.indexOf(".gif")> 0  || file.name.indexOf(".png")> 0 ) {
            // Modify and return form data
            formData.append("profileImage", file);

            return formData;
        }else{
            alert("이미지 파일이 아닙니다.(jpg, jpeg, png, gif 형식만 지원합니다.)");
            return false;
        }
    }
    function onComplete(){
        alert("프로필 이미지가 등록되었습니다.");
        $.ajax({
            type:"POST",
            url:"/setUser/getProfileImage",
            success:function(args){
                $("#profileImage").fadeOut(200).attr('src', args.profile_src).fadeIn(200);
            },
            error:function(e){
                alert(e.responseText);
            }
        });

    }
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#profileImage').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $(".fs-upload-input").change(function(){
        readURL(this);
    });


    function page3(){
        if(username.value=="") {
            alert("이름을 입력해주세요.");
        }else if(nickname.value=="") {
            alert("별명을 입력해주세요.");
        }else if(postalCode.value=="") {
            alert("주소를 입력해주세요.");
        }else if(phone.value=="") {
            alert("핸드폰 번호를 입력해주세요.");
        }else {
            $.post("/setUser",
                {
                    "name": username.value,
                    "nickname": nickname.value,
                    "postalCode": postalCode.value,
                    "detailAddr": detailAddr.value,
                    "basicAddr": basicAddr.value,
                    "phone": phone.value
                },
                function (data, status) {
                    $('#page3').fadeOut(200);
                    $('#page4').delay(200).fadeIn(200);
                    current = 4;
                }
            );
        }

    };

    // page4
    var get_advDm= "<%- advDm %>";
    var get_advEmail="<%-advEmail %>";

    if (get_advDm == true || get_advDm == "true"){
        $('#dm-agree').addClass("agree");
    }

    if (get_advEmail == true || get_advEmail == "true"){
        $('#mail-agree').addClass("agree");
    }

    $('#dm-agree').click(function(){
        $(this).toggleClass("agree");
    })
    $('#mail-agree').click(function(){
        $(this).toggleClass("agree");
    })
    function page4(){
        var advDm=false, advEmail=false;
        var email = $('#email').val();
        var birthday = $('#birthday').val();
        if($("#dm-agree").hasClass("agree")){
            advDm = true;
        }
        if($("#mail-agree").hasClass("agree")){
            advEmail = true;

        }
        console.log(advDm+'|' +advEmail);
        if(validateEmail(email)){

            $.post("/setUser",
                {
                    email : email,
                    advDm : advDm,
                    advEmail: advEmail,
                    birthday: birthday
                },
                function(data, status){
                    $('#page4').fadeOut(200);
                    $('#page5').delay(200).fadeIn(200);
                    current = 5;
                    console.log(" status : " + status);
                });
        }
        else{
            alert("이메일 형식을 확인해주세요.")
        }



    };

    function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
    ////////////////////////// page5 //////////////////////////////
    var get_gender = "<%- gender %>";
    //var get_color = "<%- color %>";
    //var get_style = "<%- style %>";
    //console.log(get_color);
    if (get_gender == "femail"){
        $("#gender option:eq(2)").attr("selected", "selected");
    }
    $('#keyword-wrapper').click(function() {
        $(this).val("");
    });

    $('#keyword-wrapper').keyup(function(e){
        if($('#keyword-input').children().length >19 ){
            alert("패션키워드는 20개까지 입력이 가능합니다.");
            return true;
        }else{
            if(e.keyCode == 32 || e.keyCode==188 || e.keyCode==229|| e.keyCode==13){
                // user has pressed space or comma or enter
                hashtag = $('#keyword-wrapper').val();
                if(hashtag[0]!='#'){
                    hashtag = '#' + hashtag;
                }
                if(hashtag[hashtag.length]==','){
                    hashtag.slice(-1);
                }
                $('#keyword-input').append("<span class='hashtag' contenteditable='false'>"+hashtag+"</span>");
                $('#keyword-wrapper').val("");

            }
        }


    });
    $('.hashtag').click(function(){
        this.remove();
    })
    function page5(){

        var size = $("#topSize").val();
        var gender =  $("#gender option:selected").val();
        console.log("gender: " + gender);
        var height = $("#height").val();
        var weight = $("#weight").val();
        var color = new Array();
        console.log(color !== 'undefined');
        console.log(color !== null);


        var colors = $('.color-elm');
        colors.each(function(){
            color.push($(this).attr("class").match(/#[\w-]*\b/)[0])
        })
        var style = new Array();
        var styles = $('.hashtag');
        styles.each(function(){
           style.push($(this).text());
        });
        console.log("style: "+ style);
        var measure =  $("#measure option:selected").val();
        console.log("measure: " + measure);
        function pad2(n) { return n < 10 ? '0' + n : n }

        var date = new Date();

        var updateDate = date.getFullYear().toString() + pad2(date.getMonth() + 1) + pad2( date.getDate()) + pad2( date.getHours() ) + pad2( date.getMinutes() ) + pad2( date.getSeconds() ) ;

        var postData = {
            "size": size,
            "gender": gender,
            "height": height,
            "weight": weight,
            "color": JSON.stringify(color),
            "style": JSON.stringify(style),
            "measure": measure,
            "updateDate" : updateDate
        };
        console.log(postData);
        $("#selectBox option:selected").val();
        $.post("/setUser",

            postData,
            function (data, status) {
                $('#page5').fadeOut(200);
                $('#page6').delay(200).fadeIn(200);
                current = 6;
            }
        );
    }
</script>
<script>

    function execDaumPostcode() { //execDaumPostcode() 함수 호출

        new daum.Postcode({

            oncomplete: function(data) {

                var fullAddr = ''; // 최종 주소 변수

                var extraAddr = ''; // 조합형 주소 변수

                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.

                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우

                    fullAddr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    fullAddr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                if(data.userSelectedType === 'R'){
                    //법정동명이 있을 경우 추가한다.
                    if(data.bname !== ''){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있을 경우 추가한다.
                    if(data.buildingName !== ''){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.

                    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');

                }




                // 우편번호와 주소 정보를 해당 필드에 넣는다.

                document.getElementById('ozipcode1').value = data.zonecode; //5자리 새우편번호 사용

                document.getElementById('oaddr1').value = fullAddr;




                // 커서를 상세주소 필드로 이동한다.

                document.getElementById('oaddr2').focus();

            }

        }).open();

    }

</script>
<script>

    var hueb = new Huebee( '.color-input', {
        // options

        hues: 20,
        // number of hues of the color grid
        // default: 12

        hue0: 100,
        // the first hue of the color grid
        // default: 0

        shades: 20,
        // number of shades of colors and shades of gray between white and black
        // default: 5

        saturations: 1,
        // number of sets of saturation of the color grid
        // 3 saturations => [ 100% saturation, 66% saturation, 33% saturation ]
        // default: 3

        notation: 'hex',
        // the text syntax of colors
        // values: shortHex, hex, hsl
        // shortHex => #F00, hex => #FF0000, hsl => hsl(0, 100%, 50%)
        // default: shortHex

        setText: false,
        // sets text of elements to color, and sets text color
        // true => sets text of anchor
        // string, '.color-text' => sets elements that match selector
        // default: true

        setBGColor: false,
        // sets background color of elements
        // and text color so text is visible on light or dark colors
        // true => sets background color of anchor
        // string, '.color-bg' => sets elements that match selector
        // default: true

        staticOpen: false,
        // displays open and stays open
        // default: false

        className: 'color-input-picker',
        // class added to Huebee element, useful for CSS
    });

    hueb.on( 'change', function( color, hue, sat, lum ) {
        if($('.color-elm').length >10){
            alert("선호 색상은 10개 까지 지정이 가능합니다.");
            hueb.close();

        }else{
            hueb.close();
            $("#color").prepend("<span id='color-"+$('.color-elm').length+"'class='color-elm "+color+"' data-color:" + color+" style='background-color:"+color+"'></span>");
        }
    })
    $('.color-elm').click(function(){
        this.remove();
    })


</script>
<script>
var isLoggedIn = <%- isLoggedIn %>;
		if(!isLoggedIn){
			$('#sidebar-wrapper a').attr('href', '/signin');
			$('span.follow-button').click(function(){
			    redirect('signin');
			});
			$('.search-option').click(function(){
			    redirect('signin')
			});

		}
	    else{
	        $('span.follow-button').click(function(){
    	        var product = $(this).parents('article').attr('id');
	            console.log(product);		    
			});
	        $('#sign').children().attr('href', '/logout');
	        $('#sign').children().text('로그아웃');
	        

	    } $("#navButton").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        $("#searchButton").click(function(e) {
            e.preventDefault();
            redirect('/');
        });
        function redirect (url) {
        var ua        = navigator.userAgent.toLowerCase(),
            isIE      = ua.indexOf('msie') !== -1,
            version   = parseInt(ua.substr(4, 2), 10);

        // Internet Explorer 8 and lower
        if (isIE && version < 9) {
            var link = document.createElement('a');
            link.href = url;
            document.body.appendChild(link);
            link.click();
        }

        // All other browsers can use the standard window.location.href (they don't lose HTTP_REFERER like Internet Explorer 8 & lower does)
        else {
            window.location.href = url;
        }
    }
</script>
</body>
</html>
