<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- neck-view port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
    <link href="/css/dialog.css" rel="stylesheet"> <!-- Including CSS File Here-->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="all">
    <link rel='stylesheet' type="text/css" href='/css/signin.css'/>
    <link rel="stylesheet" type="text/css" href="/css/index.css">

    <!-- JS FROM CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="/js/bootstrap.js"></script>

</head>
<body>

    <header>
        <a id="main" href="http://ttag.jisco.kr"  class="col-lg-push-5 col-lg-2 col-md-push-5 col-md-2 col-sm-push-4 col-sm-4"><img src="/img/logo.png"></a>
        <div class="clearfix"></div>
    </header>
    <main>
        <div class="container">
                <div class="grid class col-sm-12 col-md-12 col-lg-8 col-lg-push-2">
                	<div id="signModal" class="modal">

						<!-- Modal content -->
						<div class="modal-content">

							<div class="modal-header">
								<a href="http://ttag.jisco.kr/">
									<img src="../img/login_close.png" class="close">
								</a>
								<h2>Sign In</h2>
							</div>
							<div class="modal-body">
								<div id="btn-container">
									<button id="custom-naver-btn" onclick="location.href='/auth/naver'">NAVER</button>
									<button id="custom-kakao-btn" onclick="location.href='/auth/kakaotalk'">KAKAOTALK</button>
									<button id="custom-google-btn" onclick="location.href='/auth/google'">GOOGLE</button>
									<button id="custom-fb-btn" onclick="location.href='/auth/facebook'">FACEBOOK</button>
									<button id="custom-insta-btn" onclick="location.href='/auth/instagram'">INSTAGRAM</button>
								</div>
							</div>

							<div class="modal-footer">
							</div>
						</div>
					</div>    
                </div>
            </div>
        </div>

    </main>
    <footer class="bg-gray-90">
        <%- footer %>
    </footer>

    <!-- The Modal -->



</body>
</html>
