table{
    margin-top: 50px;
}
.table > tbody > tr > th{
    background-color: lightgray;
    font-family: Spoqa-Bold;
}

.table>tbody>tr>td{
    vertical-align: middle;
}
table .product-info{
        border-right: 1px solid lightgray;
}
table .product-info img{
    margin-top: 10px;
    margin-bottom: 10px;
}
table .product-info h2{
    text-align: left;
    padding-left: 10%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 120%;
    display: inline-block;
    width: 50%;
    font-family: Spoqa-Bold;
}
table .product-info p{
    display: inline-block;
    margin-right: 30px;
}
table .product-info h2 + p{
    padding-left: 10%;
}
table .price{
    text-align: center;
}
table td .price{
    border-right: 1px solid lightgray;
}
table td{
    border-bottom: 1px solid lightgray;
}
table .option label.control-label{
    margin-top: 25px;
    line-height: 200%;
    padding: 0;
}

table .option div{
    margin-top: 25px;
    padding: 0;
}
#total{
    width: 100%;
    margin-top: 200px;
}
#total tr th {
    padding: 20px;
    font-size: 24px;
    font-family: Spoqa-Bold;
    width: 25%;
    text-align: center;
    background-color: lightgray;
}
#total tr td {
    padding: 30px;
    font-size: 36px;
    font-family: Spoqa-Bold;
    width: 25%;
    text-align: center;
    border: 1px solid lightgray;
}
#total tr td:first-child{
    border-left: 0;
}
#total tr td:last-child{
    border-right: 0;
}