main .container header{
    margin-top: 0px;
}
main .container header h1{
    margin-top: 0;
    padding-left: 30px;
    font-size: 36px;
    line-height: 20px;
    letter-spacing: 12px;
    text-align: left;
    font-family: spoqaHanSans-Regular;
}
main .container main{
    border-top: 3px solid black;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
main .container main form{
    width: 45%;
    font-size: 12px;
    line-height: 18px;
}
main .container main form label{
    font-size:24px;
    font-family: SpoqaHanSans-Bold;
}
main .container main form input[type=text]{
    text-align: left;
    width: 100%;
    display: block;
    background-color: white;
    border-radius: 5px;
    margin-left: 0px;
    border: 1px solid rgb(90,90,90);
    height: 30px;
    text-align: center;
    margin-top: 20px;
    line-height: 20px;
    font-size: 16px;
}
main .container main form input[type=text]:first-child{
    width: 100%;
    display: block;
    background-color: white;
    border-radius: 5px;
    margin-left: 0px;
    border: 1px solid rgb(90,90,90);
    height: 30px;
    text-align: center;
    margin-top: 30px;
    line-height: 20px;
    font-size: 16px;
}
main .container main form input[type=text]::-moz-placeholder{
    color: rgb(200,200,200);
}
main .container main form input[type=text]::-webkit-input-placeholder{
    color: rgb(200,200,200);
}
main .container main form input[type=text]:-ms-input-placeholder{
    color: rgb(200,200,200);
}
main .container main form select{
    width: 100%;
    display: block;
    background-color: white;
    border-radius: 5px;
    margin-left: 0px;
    border: 1px solid rgb(90,90,90);
    height: 30px;
    text-align: center;
    margin-top: 20px;
    line-height: 20px;
    font-size: 16px;
}
main .container main form select option{
    width: 100%;
    display: block;
    background-color: white;
    border-radius: 5px;
    margin-left: 0px;
    border: 1px solid rgb(90,90,90);
    height: 30px;
    text-align: center;
    margin-top: 10px;
    line-height: 20px;
    font-size: 16px;
}
main .container main form textarea{
    width: 96%;
    padding: 2%;
    margin-top: 20px;
    border: 1px solid rgb(90,90,90);
    border-radius: 10px
}
main .container main form button{
    clear: both;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    height: 40px;
    font-size: 16px;
    font-family: SpoqaHanSans-Bold;
    border: 0;
    background-color: rgb(90,90,90);
    color: white;
    border-radius: 10px;
}
main .container main form#customer{
    float: left;
    margin-top: 100px;
}
main .container main form#company{
    float: right;
    margin-top: 100px;

}
main .container footer{
    border-top: 3px solid black;
    padding-top: 50px;
    line-height: 32px;
    font-size: 16px;
}