.container #item-wrapper{
    position: relative;
    width: 66.6%;
    background-color: lightgray;
    border-radius: 10px;
    margin: 70px auto;
    overflow: hidden;
}
.container #item-wrapper .img-wrapper{
    width: 50%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;

    padding: 0 2%;
    border-radius: 10px;
    float: left;
    overflow:hidden;

}
.container #item-wrapper .img-wrapper img{
    width: 100%;
    height: auto;
    margin-top: 0;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}
.container #item-wrapper .img-wrapper div.keyword-wrapper{
    height: 140px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px
}

.container #item-wrapper .img-wrapper .keyword-wrapper span{
    display: inline-block;
    padding: 5px;
}
.container #item-wrapper .info-wrapper{
    width: 50%;
    margin-top: 100px;
    padding: 0 2%;
    float: left;

}
.container #item-wrapper .info-wrapper h1{
    margin-top: 0;
    margin-top: 0px;
    font-size: 150%;
    color: dimgray;
    margin-bottom: 20px;
}
.container #item-wrapper .info-wrapper .form-group label{
    line-height: 200%;
    color: dimgray;
    margin-bottom: 20px;
}
.container #item-wrapper .info-wrapper .form-group select{
    line-height: 200%;
    color: dimgray;
    margin-bottom: 20px;
}
.container #item-wrapper .info-wrapper .form-group .space1{
    margin-bottom: 40px;
}
.container #item-wrapper .info-wrapper .form-group .space2{
    margin-bottom: 80px;
}
.container #item-wrapper .info-wrapper .form-group .btn-custom{
    height: 80px;
    margin-bottom: 40px;
}
.container #item-wrapper .info-wrapper .form-group .btn-custom:first-child{
    margin-left:15px;
}
.container #item-wrapper .info-wrapper .form-group .btn-custom:first-child:hover, .container #item-wrapper .info-wrapper .form-group .btn-custom:first-child:focus{
    color:darkgray;
}
.container #detailed-wrapper .detailed-img{
    width: 100%;
    padding: 0 2%;
}
.container #comment-wrapper{
    margin-top: 20px;
}
.container #comment-wrapper > h2{
    text-align: left;
    font-size: 20px;
    margin-left: 2%;
}
.container #comment-wrapper .comment-writed > .commenter{
    font-size: 16px;
    margin-left: 2%;
    width: 15%;
    display: inline-block;
}
.container #comment-wrapper .comment-writed > .comment{
    display: inline-block;
    border-left: 1px solid black;
    padding-left: 2%;
    width: 80%;
    text-align: justify;
}
.container #comment-wrapper .comment-add{
        width: 96%;
    padding: 2% 4%;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    border: 0px;
}
.container #comment-wrapper .btn-default{
        width: 10%;
    margin-left: 88%;
    margin-top: 5px;
    margin-bottom: 40px;
}