/* below line is used for online google font */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

h2{
	text-align: center;
	font-size: 24px;
}

hr{
	margin-bottom: 30px;
}

p{
Color: Black;
font-size: 16px;
font-weight: bold;
}

#button{
border: 0;
width: 250px;
padding: 0;
font-size: 16px;
font-weight: bold;
color: black;
border-radius: 3px;
background: none;
}

#button:hover{
background: #49c0e8;
}

input[type=text]{
margin-top: 5px;
margin-bottom: 20px;
width: 96%;
border-radius: 5px;
border: 1px solid black;
padding: 5px 0;
}

#name,#email{
padding-left: 10px;
}

input[type=submit]{
width:30%;
border: 1px solid black;
background: white;
color: black;
padding: 3px 0px;
border-radius: 5px;
margin-left: 33%;
}

input[type=submit]:hover{
border: 1px solid #666666 ;
background: #555555;
color: white;
}

.ui-dialog .ui-dialog-content {
padding: 2em;
}

div.container{
	width: 960px;
	height: 610px;
	margin:50px auto;
	font-family: 'Droid Serif', serif;
	position:relative;
}

div.main{
	width: 320px;
	margin-top: 35px;
	float:left;
	padding: 10px 55px 25px;
	background-color: rgba(204, 204, 191, 0.51);
	border: 15px solid white;
	box-shadow: 0 0 10px;
	border-radius: 2px;
	font-size: 13px;
	text-align: center;
}



/* -------------------------------------
    CSS for sidebar (optional) 
---------------------------------------- */
.fugo{
	float:right;
}

.ui-dialog-titlebar{
	background: rgba(255,255,255,1);
	border:0;
	color: black;

}
.ui-widget-content{
	z-index: 99999;
	background: rgba(255,255,255,1);
}
.ui-dialog-titlebar-close{
	margin: 0;
	right:0;
	border: 0 !important;
	background: none !important;
	font-weight: normal;
}
#dialog-load select{
	margin-bottom: 15px;
}