.class{
    cursor: pointer;
}
.contents{
    position: relative;
    margin: 100px auto;
    background-color: rgb(230,230,230);
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 35px 0px rgba(105,105,105,0.68);
    -moz-box-shadow: 10px 10px 35px 0px rgba(105,105,105,0.68);
    box-shadow: 10px 10px 35px 0px rgba(105,105,105,0.68);
    height: 700px;
    padding-left: 50px;
    color: rgb(90,90,90);
}
.contents header{
    margin-top: 30px;
	margin-bottom: 0px;
	padding-top: 10px;
}
.contents header h1{
    font-size: 20px;
    font-family: SpoqaHanSans-Bold;
    margin-top: 10px !important;
    text-align: left !important;
}
.contents header h2{
    margin-top: 10px;
    font-size: 18px;
    font-family: SpoqaHanSans-Bold;
    text-align: left !important;

}
.contents header .close{
    position: absolute;
    top: 35px;
    right: 35px;
    width: 50px;
    height: 50px;
    opacity: 1;
}
.contents header .close img{
    margin-top: 0px;
}
.contents footer button{
    background: none;
    border: 0;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
    display: block;
}
.contents footer button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.contents footer .skip{
    position: absolute;
    right: 35px;
    bottom: 145px;
    width: 115px;
    height: 40px;
    font-size: 18px;
    color: white;
    background-color: rgb(127,127,127);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.contents footer .prev{
    position: absolute;
    right: 35px;
    bottom: 90px;
    width: 115px;
    height: 40px;
    font-size: 18px;
    color: white;
    background-color: rgb(127,127,127);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.contents footer .next{
    position: absolute;
    right: 35px;
    bottom: 35px;
    width: 115px;
    height: 40px;
    font-size: 18px;
    color: white;
    background-color: rgb(127,127,127);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.contents main {
    height: 600px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.contents main p{
    margin-top: 10px;
}
.contents main p:first-child{
    margin-top: 30px;
}

.contents main div{
    margin-bottom: 10px;
}
.contents main div h3{
    font-size: 18px;
    font-family: SpoqaHanSans-Regular;
    margin-bottom: 25px;

}
.contents main #terms p, .contents main #privacy p {
    height: 160px;
    width: 740px;
    margin-bottom: 10px;
    overflow-y: scroll;
    line-height: 16px;
    font-size: 12px;

}
.contents main #iconWrapper{
    margin-top: 15px;
    margin-bottom: 25px;
}
.contents main #iconWrapper a img{
    opacity: 0.5;
    width: 65px;
    height: 65px;
    margin-right: 15px;
    margin-top:0px;

}
.contents main #iconWrapper a img.circular--square {
    border-radius: 50%;
}
.contents main div .check_text{
    font-size: 18px;
    color: black;
    font-family: SpoqaHanSans-Regular;
    margin-bottom: 10px;
    margin-right: 100px;
}
.contents main .container > #page3 >main>div>p{
    overflow-y: auto;
    height: auto;
    font-size: 12px;
    font-family: SpoqaHanSans-Regular;
}
.contents main #nameWrapper input[type='text']{
    margin-top: 5px;
    height: 30px;
    width: 230px;
    border-radius: 5px;
    border: 1px solid rgb(217,217,217);
    font-size: 12px;
    font-family: SpoqaHanSans-Regular;
    color: rgb(50,50,50);
    text-align: center;
    margin-bottom: 10px;
}

.contents main #addrWrapper input[type='text']{
    margin-top: 5px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(217,217,217);
    font-size: 12px;
    font-family: SpoqaHanSans-Regular;
    color: rgb(50,50,50);
    text-align: center;
    margin-bottom: 10px;
}
.contents main #addrWrapper #ozipcode1{
    width: 110px;
    float:left;
}
.contents main #addrWrapper #searchAddr{
    margin-top: 5px;
    margin-left: 20px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    font-size: 12px;
    font-family: SpoqaHanSans-Regular;
    color: rgb(217,217,217);
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(90,90,90);
    clear: both;

}
.contents main #addrWrapper #oaddr1{
    width: 610px;
    clear: both;

}
.contents main #addrWrapper #oaddr2{
    width: 610px;
    clear: both;

}
.contents main div input::-webkit-input-placeholder, .contents main #nameWrapper input:-moz-placeholder, .contents main #nameWrapper input::-moz-placeholder, .contents main #nameWrapper input:-ms-input-placeholder  { /* WebKit, Blink, Edge */
    color:   rgb(127,127,127);
}
.contents main #phoneWrapper{
    margin-top: 20px;
}
.contents main #phoneWrapper input[type='text']{
    margin-top: 5px;
    height: 35px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid rgb(217,217,217);
    font-size: 12px;
    font-family: SpoqaHanSans-Regular;
    color: rgb(50,50,50);
    text-align: center;
}
.contents main #mailWrapper{
    margin-bottom: 25px;
}
.contents main #mailWrapper input[type='text']{
    margin-top: 5px;
    height: 35px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid rgb(217,217,217);
    font-size: 12px;
    font-family: SpoqaHanSans-Regular;
    color: rgb(50,50,50);
    text-align: center;
}
.contents main #profileWrapper{
    margin-bottom: 25px;
}
.contents main #profileWrapper img{
    width: 100px;
    height: 100px;

}
.contents main #profileWrapper img.circular--square {
    border-radius: 50%;
    margin: 15px 0;
    border: 2px solid rgb(217,217,217);
}
.contents main #profileWrapper input{
    height: 35px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid rgb(217,217,217);
    font-size: 12px;
    font-family: SpoqaHanSans-Regular;
    color: rgb(50,50,50);
    text-align: center;
    box-shadow: inset 0px 0px 0px 0px white;
}
.fs-upload-element{
    height: 35px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid rgb(217,217,217);
    font-size: 12px;
    font-family: SpoqaHanSans-Regular;
    color: rgb(50,50,50);
    text-align: center;
    line-height: 35px;
    text-align: center;
    background-color: white;
    color: rgb(50,50,50);

}
.contents main #agreeWrapper{
    margin-bottom: 30px;
}
.contents main #agreeWrapper .float{
    margin-right: 45px;
    float:left;
}
.contents main #agreeWrapper .float p{
    text-align: center;
}
.contents main #agreeWrapper div button{
    margin-top: 5px;
    width: 150px;
    height: 35px;
    line-height:35px;
    border-radius: 5px;
    border: 1px solid rgb(217,217,217);
    font-size: 12px;
    font-family: SpoqaHanSans-Regular;
    color: rgb(50,50,50);
    text-align: center;
    line-height: 35px;
    text-align: center;
    background-color: white;
    color: rgb(50,50,50);
}
.contents main #agreeWrapper div button.agree{
    background-color: rgb(127,127,127);
    color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.contents main #birthWrapper{
    margin-bottom: 25px;
}
.contents main #birthWrapper input[type='text']{
    height: 35px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid rgb(217,217,217);
    font-size: 12px;
    font-family: SpoqaHanSans-Regular;
    color: rgb(50,50,50);
    text-align: center;
}
.contents main #fashionWrapper input[type='text']{
    height: 35px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid rgb(217,217,217);
    font-size: 12px;
    font-family: SpoqaHanSans-Regular;
    color: rgb(50,50,50);
    text-align: center;
}
.contents main .btn-theme{
    background-color: rgb(127,127,127);
    color: white;
}
.contents main .form-control span{
    color: #999;
}
.contents main .form-control #keyword{
    color: #999;
}
.contents main #keyword-wrapper{
    padding: 10px;
}
.contents main #keyword-input{
    padding: 10px;
}
.contents main .form-control span#keyword{
    display: inline-block;
    float: left;
    color: black;
    border: 1px solid rgb(217,217,217);
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: white;
    height: 38px;
}
.contents main .form-group .btn-wrapper{
    width: 50%;
    padding-right: 3%;
    float:left;
}
.contents main .form-group .btn-wrapper:nth-child(2){
    padding-left: 3%;
    padding-right: 0;
}
.contents main #keyword-input span.hashtag{
    display: inline-block;
    float: left;
    color: white;
    height: 24px;
    border: 1px solid rgb(217,217,217);
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: rgb(46,112,219);
    font-size: 12px;
    line-height: 12px;

}
.contents main .form-group .mfc{
    margin-top: 20px;
}
.contents main .form-group .btn{
    margin-top: 5px;
}
.contents main .form-group select{
    margin-bottom: 20px;
}
.contents main .form-group{
    padding: 0 !important;
    float: none !important;
}
.contents main .col-lg-6{
    padding: 0 !important;
}
#page6 main form h2{
    font-size: 10px;
    font-family: SpoqaHanSans-Bold;
    margin:0;
    text-align: right;
    padding-right: 15px;
}
#page6 .form-horizontal .form-group{
    margin-top: 20px !important;
    padding: 0 !important;
}
#page6 .form-horizontal .form-group .control-label{
    font-size: 8px !important;
}
#page6 .form-horizontal .form-group .form-control{
    font-size: 8px !important;
    padding: 2px 10px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    height: 17px !important
}


#page1{
    transition: opacity .3s ease-in-out;
}
#page2{

    display: none;
}
#page3{
    display: none;
}
#page4{
    display: none;
}
#page5{
    display: none;
}
#page6{
    display: none;
}
.huebee__cursor {
    width: 10px;
    height: 10px;
}

.huebee {
    transition: none; /* disable reveal/hide transition */
}

.huebee__container {
    background: #444;
    border: 1px solid #222;
    border-radius: 20px;
}

.huebee__cursor {
    border: 2px solid #19F;
}

.huebee__close-button {
    background: black;
}

.huebee__close-button__x {
    stroke-width: 1;
}
.color-elm{
    display: block;
    float: left;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}