/* The Modal (background) */
.modal {
        display: block;
    position: relative;
    /* z-index: 1; */
    /* left: 0; */
    /* top: 0; */
    /* width: 100%; */
    /* height: 100%; */
    overflow: auto;
    /* background-color: rgb(0,0,0); */
    /* background-color: rgba(0,0,0,0.4); */
}

/* Modal Content */
.modal-content {
	position: relative;
    /* background-color: #fefefe; */
    margin: auto;
    /* margin-top: 200px; */
    padding: 0;
    border: 1px solid #888;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-color: rgb(240,240,240);
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    position: absolute;
    top: 20px;
    right: 30px;
}

/* Modal Header */
.modal-header {
        position: relative;
    height: 160px;
    padding: 0;
}
.modal-header h2{
    font-size: 40px;
    text-align: center;
    position:absolute;
    width: 100%;
    bottom: 60px;
    color: rgb(108,108,108);

}

/* Modal Body */
.modal-body {
    margin-left: 10%;
    margin-right: 10%;
    height: 360px;
    padding: 0;
}
.modal-body #btn-container{
    height:0;
}
.modal-body button{
    background: none;
    border: 0;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 40px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: block;
    border-radius: 10px;
    width: 48%;
    margin: 0 1%;
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: rgb(108,108,108);
    margin-bottom: 20px;
    float: left;
}
.modal-body button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Modal Footer */
.modal-footer {
    height: 40px;
}

