main .container header{
    margin-top: 0px;
}
main .container header h1{
    margin-top: 0;
    padding-left: 30px;
    font-size: 36px;
    line-height: 20px;
    letter-spacing: 12px;
    text-align: left;
    font-family: spoqaHanSans-Regular;
}
main .container main{
    border-top: 3px solid black;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

main .container p{
    white-space: pre-line;
    font-size: 12px;
    line-height: 18px;
}