@priory-color: black;
@secondary-color : rgb(40,40,40);
@third-color    : rgb(200,200,200);
@warning-color  : rgb(161,27,27);
@footerHeight : 130px;
@header-icon-top: 70px;
@headerHeight: 195px;

.form-group{
    h2{
        margin-bottom: 50px;
    }
    textarea{
/* Firefox */
  width: -moz-calc(~'100% - 15px');
  /* WebKit */
  width: -webkit-calc(~'100% - 15px');
  /* Opera */
  width: -o-calc(~'100% - 15px');
  /* Standard */
  width: calc(~'100% - 15px');    
        margin-bottom: 70px;
    }
    .text-individual{
        margin-top: 120px;
    }
    .text-company{
        margin-top: 66px;
    }
    .round-box{
        background-color: @secondary-color;
        color: white;
        border-radius: 10px;
        height: 40px;
    }
    .label{
        width: 50%;
        display: inline-block;

    }
    button{
        /* Firefox */
        width: -moz-calc(~'100% - 15px');
          /* WebKit */
        width: -webkit-calc(~'100% - 15px');
          /* Opera */
        width: -o-calc(~'100% - 15px');
          /* Standard */
        width: calc(~'100% - 15px');
    }
}
#contact{
        margin-top: 100px;
    border-top: 2px solid black;
    padding-top: 70px;

}