@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fontawesome-webfont.woff') format('woff'),
  url('../fonts/fontawesome-webfont.ttf')  format('truetype'),
  url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
}
@font-face {
  font-family: 'Spoqa-Thin';
  src:  url('../fonts/SpoqaHanSans-Thin.eot');
  src:  url('../fonts/SpoqaHanSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SpoqaHanSans-Thin.woff') format('woff'),
        url('../fonts/SpoqaHanSans-Thin.ttf')  format('truetype'),
        url('../fonts/SpoqaHanSans-Thin.svg#Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spoqa-Regular';
  src: url('../fonts/SpoqaHanSans-Regular.eot') format('embedded-opentype');
  src: url('../fonts/SpoqaHanSans-Regular.woff') format('woff'),
  url('../fonts/SpoqaHanSans-Regular.ttf')  format('truetype'),
  url('../fonts/SpoqaHanSans-Regular.svg#Spoqa-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spoqa-Bold';
  src: url('../fonts/SpoqaHanSans-Bold.eot') format('embedded-opentype');
  src: url('../fonts/SpoqaHanSans-Bold.woff') format('woff'),
  url('../fonts/SpoqaHanSans-Bold.ttf')  format('truetype'),
  url('../fonts/SpoqaHanSans-Bold.svg#Spoqa-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.txt-bold{
    font-family: SpoqaHanSans-Bold;
}
.txt-regular{
    font-family: SpoqaHanSans-Regular;
}
.txt-thin{
    font-family: SpoqaHanSans-Thin;
}
.txt-16{
    font-size: 16px;
}
@priory-color: black;
@secondary-color : rgb(40,40,40);
@third-color    : rgb(200,200,200);
@warning-color  : rgb(161,27,27);
@footerHeight : 130px;
@header-icon-top: 70px;
@headerHeight: 195px;
*{
  font-weight: normal !important;
  font-family: 'Spoqa-Regular';
}
.horizontal-center{
  position: absolute !important;
  left: 50% !important;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.center-center{
  position: absolute !important;
  top: 50% !important;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.center-1-3{
  position: absolute !important;
  top: 33.3% !important;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.center-2-3{
  position: absolute !important;
  top: 66.6% !important;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.center-4-5{
  position: absolute !important;
  top: 80% !important;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.center-3-5{
  position: absolute !important;
  top: 60% !important;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.vertical-center{
  position: absolute !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.center{
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.circular-square-border{
  border-radius: 50%;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.wrapper{
  width: 100% !important;
  padding: 0 !important;
  margin: 0 auto;

}

#sidebar-wrapper {
  margin-left: -16.66666667%;
  border-right: 1px solid @priory-color;
  border-bottom: 1px solid @priory-color;

  padding: 0 !important;
  background-color: white;
  position: absolute;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  /* Firefox */
  height: -moz-calc(~'100% - '@footerHeight);
  /* WebKit */
  height: -webkit-calc(~'100% - '@footerHeight);
  /* Opera */
  height: -o-calc(~'100% - '@footerHeight);
  /* Standard */
  height: calc(~'100% - '@footerHeight);
  #navButton{
    position: absolute;
    left: 120%;
    background-color: white;
    top: @header-icon-top;
  }
}
#sidebar-wrapper.active{
  margin-left: 0;
}
.sidebar-nav {
  top: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  li{
    line-height: 40px;
    text-indent: 20px;
    background-color: white;
    a{
      color: #999999;
      display: block;
      text-decoration: none;
      padding-left: 60px;
      span:before{
        position: absolute;
        left: 0;
        color: #41484c;
        text-align: center;
        width: 20px;
        line-height: 18px;
      }
    }
    a:hover{
      color: @priory-color;
      background: @secondary-color;
      text-decoration: none;
    }
    a:active, a:focus{
      text-decoration: none;

    }
  }
  li.active{
    color: @priory-color;
    background: @secondary-color;
    text-decoration: none;
  }
  .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
    color: white;
    background-color: @priory-color;

  }
}

#searchbar-wrapper {
  margin-right: -16.66666667%;
  border-left: 1px solid @priory-color;
  border-bottom: 1px solid @priory-color;
  padding: 0 !important;
  background-color: white;
  position: absolute;
  height: auto;
  right: 0;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  #searchButton{
    position: absolute;
    background-color: white;
    right: 120%;
    top: @header-icon-top;
  }
}
#searchbar-wrapper.active{
  margin-right: 0;
}
.sidebar-nav {
  top: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: auto;
  li{
    line-height: 40px;
    text-indent: 20px;
    background-color: white;


    a{
      color: #999999;
      display: block;
      text-decoration: none;
      padding-left: 60px;
      span:before{
        position: absolute;
        left: 0;
        color: #41484c;
        text-align: center;
        width: 20px;
        line-height: 18px;
      }
    }
    a:hover{
      color: @priory-color;
      background: @secondary-color;
      text-decoration: none;
    }
    a:active, a:focus{
      text-decoration: none;

    }

  }
  li .form-control{
    margin: 5px auto;
    border: 0;
    height: auto;
    padding:5px;
    text-indent: 0px;
    label{
      text-indent: 0px;
      margin: 10px 10px;

    }
  }
  li.active{
    color: @priory-color;
    background: @secondary-color;
    text-decoration: none;
  }
  .sort ul{
    list-style: none;
    padding:0;
  }
  .sort ul li{
    list-style: none;
    text-decoration: none;
    text-indent: 20px;
  }
  .sort ul li:hover{
    background: @third-color;
  }
  .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
    color: white;
    background-color: @priory-color;

  }
  .sidebar-condition{
    height: 130px;
    line-height: 60px;
    font-size: 18px;
    color: white;
    background-color: @priory-color;
    padding-bottom: 5px;
    ul{
      padding: 0px;
      li{
        line-height: 60px;
        font-size: 18px;
        list-style: none;
        background-color: @priory-color;
        margin: 0;
      }
      li:last-child{
        background-color: @warning-color;
        margin: 5px 5px;
        background-color: @warning-color;
        text-indent: 15px;
        width: -moz-calc(~'100% - 10px');
        width: -webkit-calc(~'100% - 10px');
        width: -o-calc(~'100% - 10px');
        width: calc(~'100% - 10px');
      }
    }

  }
}
body > header{
  a#main{
    //display: block;
    img{
      margin-top: 100px;
      width: 100%;

    }
  }
  margin-bottom: 100px;

}
.header-button{
  span {
    font-size: 20px;
    color: black;
  }
}
body > main{
  margin-bottom: @footerHeight;
  overflow: auto;
  .container{
    width: 1200px;
    min-height: 1200px;

  }
  .grid{
    padding: 0;
  }
    .grid-item{
      margin-bottom: 20px;
      header{
        margin-bottom: 20px;
        .artist-profile-wrapper{
          padding: 0;
          .artist-profile{
            position: relative;
            img{
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              max-width: 100%;
              max-height: 100%;
              height: 100%;
              width: 100%;

              object-fit: cover;
            }

          }
          .artist-profile:before{
            content: "";
            display: block;
            padding-top: 100%; 	/* initial ratio of 1:1*/
          }
        }
        .product-profile{
          p{
            margin-bottom: 15px;
          }
          .product-name{
            font-family: "Spoqa-Regular";
            color: black;
          }
          p:last-child{
            margin-top: 15px;
            margin-bottom: 0;
          }
          .artist-name{
            font-family: "Spoqa-Bold";
          }
          .price{
            color: red;
          }
        }
      }
      main{
        margin-bottom: 20px;
        .product-image-wrapper{
          width: 100%;
          .product-image{
            position: relative;
            img{
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              max-width: 100%;
              max-height: 100%;
              height: 100%;
              width: 100%;

              object-fit: cover;
            }

          }
          .product-image:before{
            content: "";
            display: block;
            padding-top: 75%; 	/* initial ratio of 1:1*/
          }
        }
      }
      footer{
        position: relative;
        background-color: white;
        height: auto;
        margin-bottom: 20px;
      }
    }


}
body > footer {
  position: fixed;
  bottom: 0;
  height: @footerHeight;
  background-color: @priory-color;
  width: 100%;
  z-index: 9999;
  .container{
    width: 1200px;
    margin: 0 auto;
    #nav-footer{
      position: relative;
      font-size: 18px;
      padding-top: 35px;
      margin-left: 20px;
      li{
        list-style: none;
        float: left;
        color: darkgray;
        a{
          color: darkgray;
          display: block;
          padding: 0 20px;
          border-right: 2px solid rgb(200,200,200);
          float: left;
        }
        a:last-child{
          border-right: 0;
        }
      }
    }
    #info{
      margin: 0;
      color: darkgray;
      float: right;
      font-size: 100%;
    }
    #copyright{
      position: relative;
      margin-left: 40px;
      margin-top: 45px;
      clear: both;

    }
  }

}
///////////////////////////////////////////
// no item page
///////////////////////////////////////////
#noitem{
  /* Firefox */
  height: -moz-calc(100% - 325px);
  /* WebKit */
  height: -webkit-calc(100% - 325px);
  /* Opera */
  height: -o-calc(100% - 325px);
  /* Standard */
  height: calc(100% - 325px);
}
#noitem .btn{
  margin: 0 15px;
}