#membership-wrapper{
    #position-wrapper{
        border-right: 1px solid lightgray;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        padding: 40px;
        height: 250px;
        #profile-wrapper{
            
            img{
                width: 100%;
            }
        }
        #info-wrapper{
            h2{
                text-align: left;
            }
            button{
                    width: 33.3%;
    background-color: lightgray;
    margin-top: 30px;
            }
            
        }
    }
    #point-wrapper{
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        height: 250px;
        div{
            position: absolute;
            bottom: 30px;
            background-color: lightgray;
            border-radius: 10px;
            h2{
                text-align: right;
                padding-right: 20px;
            }
            h3{
                padding-right: 20px;
                text-align: right;
            }
        }
        
    }
}